<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.petvely.dao.BookmarkDAO">
	<select id="selectBookmarks" resultType="BookmarkVO">
		select distinct *
		from bookmark
		join member on bm_me_num = me_num
		join post on bm_po_num = po_num and #{co_num} = po_co_num 
		where bm_me_num = #{me_num};
	</select>
</mapper>