<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.petvely.dao.MessageDAO">


    <insert id="insertMessage" parameterType="kr.kh.petvely.model.vo.MessageVO">
        INSERT INTO message (mes_content, mes_me_receiverNum, mes_me_senderNum, mes_date, mes_readingCheck)
        VALUES (#{mes_content}, #{mes_me_receiverNum}, #{mes_me_senderNum}, NOW(), #{mes_readingCheck})
    </insert>

    <select id="selectMessages"  resultType="MessageVO">
        SELECT * FROM message WHERE mes_me_receiverNum = #{mes_num} ORDER BY mes_date DESC
    </select>

</mapper>