<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.petvely.dao.member.MypageDAO">
    <select id="selectCommentList" resultType="commentVO">
    	select * from comment 
    	left join member on me_num = cm_me_num
    	left join post on po_num = cm_po_num
    	where cm_me_num = #{me_num}
    </select>
    <select id="selectCommunityList" resultType="CommunityVO">
		SELECT * FROM petvely.community where co_num != '13' order by co_num
	</select>
	<select id="selectPostList" resultType="PostVO">
		SELECT * from post 
		left join member on me_num = po_me_num
		WHERE po_co_num = #{co_num} and po_me_num = #{me_num}
	</select>
	<select id="selectWalkMatePostList" resultType="WalkMatePostVO">
		select * from walkmatepost
		join post using(po_num)
		join member on po_me_num = me_num
		where po_me_num = #{me_num}
		order by po_num desc
	</select>
	<select id="selectGATPostList" resultType="GiveAndTakePostVO">
		select * from GATPost
		left join post using (po_num)
		left join member on po_me_num = me_num
		where po_me_num = #{me_num}
		order by po_num desc
	</select>
	<select id="selectMarketList" resultType="MarketPostVO">
		select * from marketpost 
		join post using(po_num) 
		join  member on po_me_num = me_num
		where po_me_num = #{me_num}
		order by po_num desc
	</select>
</mapper>