<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.petvely.dao.PostDAO">
	<select id="count" resultType="int">
		select count(*) from post
	</select>
	<select id="selectGATPostList" resultType="GiveAndTakePostVO">
		select * from GiveAndTakePost
	</select>
	<select id="selectGATPost" resultType="GiveAndTakePostVO">
		select * from GiveAndTakePost where po_num = #{po_num}
	</select>
	<insert id="insertGATPost">
		insert into GiveAndTakePost(gat_gatt_type, gat_startDate, gat_endDate, gat_gat, gat_gats_state, gat_emd_num)
    	values#{gat_gatt_type}, #{gat_startDate}, #{gat_endDate}, #{gat_gat}, #{gat_gats_state}, #{gat_emd_num})
	</insert>
</mapper>