<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.petvely.dao.ReportDAO">
	<insert id="insertReport">
		insert into report(rp_me_num, rp_rt_type, rp_rtt_type, rp_rtt_num, rp_cause)
		values(#{rp_me_num}, #{rp_rt_type}, #{rp_rtt_type}, #{rp_rtt_num}, #{rp_cause})
	</insert>
	<select id="selectReportList" resultType="ReportVO">
		select * from report
		join member on rp_me_num = me_num
	</select>
	<select id="selectRTTList" resultType="ReportTargetTypeVO">
		select * from reporttargettype
	</select>
	<select id="selectReport" resultType="ReportVO">
		select * from report
		join post on rp_rtt_num = po_num
		join member on po_me_num = me_num
		where rp_num = #{rp_num}
	</select>
	<update id="memberStop">
		update post
		join member on po_me_num = me_num 
		set
			me_authority = 'STOP'
		where po_me_num = #{po_me_num}
	</update>
</mapper>