<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2.html}">
	
<head layout:fragment="head">
	<link rel="stylesheet" type="text/css" href="/css/project.css">
	<head th:replace="~{ui/member/login.html :: head}"></head>
</head>
<body>
	<main layout:fragment="content">
	
		<form method="post" th:action="@{/member/login}">
		<div class="login-wrapper">
		   		<div th:replace="~{ui/member/login.html :: body}"></div>
		</div>
		</form>
    </main>
</body>
</html>