<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2.html}">
	
<head layout:fragment="head">
	<head th:replace="~{ui/member/login.html :: head}"></head>
</head>
<body>
	<main layout:fragment="content">
		<form method="post" th:action="@{/member/login}">
			<div class="loginContainer">
		   		<div th:replace="~{ui/member/login.html :: body}"></div>
		   		
				<button class="btn btn-outline-info col-12">로그인</button>
			</div>  
		</form>
    </main>
</body>
</html>