<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2.html}">
	
<head layout:fragment="head">
	<head th:replace="~{ui/member/signup.html :: head}"></head>
	
	<head th:replace="~{view/member/validation.html :: head-f}"></head>
	<script th:replace="~{view/member/validation.html :: script-f}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="main-container">
			<div class="register_registerContainer">
				<div class="register_registerContents">
					<h1 class="member_title">회원가입</h1>
					<form id="form" method="post" th:action="@{/member/signup}">
				   		<div th:replace="~{ui/member/signup.html :: main}"></div>
				   		
						<button class="register_noregisterBtn">회원 가입</button>
				   	</form>
			   	</div>
		   	</div>
	   	</div>
	
		<script type="text/javascript">
		$(document).ready(function() {
			initValidation("가입");
			
			$("#cheatBtn").click(function() {
				$("#me_id").val('qwe123');
				$("#me_pw").val('123123');
				$("#me_pw2").val('123123');
				$("#me_nickname").val('user123');
				$("#me_phone").val('010-0000-0000');
				$("#me_email").val('qwe@123');
			})
			
			$("#cheatBtn2").click(function() {
				$("#me_id").val('qwe124');
				$("#me_pw").val('123123');
				$("#me_pw2").val('123123');
				$("#me_nickname").val('한글사랑');
				$("#me_phone").val('010-0000-0004');
				$("#me_email").val('qwe@124');
			})
			
			$("#cheatBtn3").click(function() {
				$("#me_id").val('admin123');
				$("#me_pw").val('123123');
				$("#me_pw2").val('123123');
				$("#me_nickname").val('admin123');
				$("#me_phone").val('019-0000-0000');
				$("#me_email").val('admin@123');
			})
		});		
		</script>
	</div>
</body>
</html>