<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    layout:decorate="~{layout/layout2.html}">
<head>
    <meta charset="UTF-8">
    <title>Insert Title Here</title>
</head>
<body >
	<main layout:fragment="content">
		<div id="bannerWrap" style="width: 1800px; overflow: hidden; position: relative;">
		    <div id="frame">
		        <ul id="imgBanner">
		            <li>
		                <a href="#"><img class="css-1100" src="/image/pet_banner_01.png" alt="기본 이미지"></a>
		            </li>
		            <li>
		                <a href="#"><img class="css-1100" src="/image/pet_banner_02.png" alt="기본 이미지"></a>
		            </li>
		        </ul>
		    </div>
		    <p>
		        <button class="swiper-button-prev">
		           <img class="css-1100" src="/image/swiper-button-prev.svg" alt="기본 이미지">
		        </button>
		        <button class="swiper-button-next">
		        	<img class="css-1100" src="/image/swiper-button-next.svg" alt="기본 이미지">
		        </button>
		    </p>
		</div>
		<script>

		</script>
	</main>
</body>
</html>