<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    layout:decorate="~{layout/layout2.html}">
<head>
    <meta charset="UTF-8">
    <title>Insert Title Here</title>
</head>
<body >
	<main layout:fragment="content">
		<p>펫블리</p>
		<p sec:authorize="isAuthenticated()">
		<span th:text="${#authentication.principal.member.me_id}"></span>님 반갑습니다.<br>
		</p>
		<ul class="imgBanner">
			<li><img class="css-1106" th:src="@{/image/image_not_found_new.png}" alt="기본 이미지"></li>
		
		</ul>
	</main>
</body>
</html>