@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


*{
	textarea:focus {
    outline: none;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}

}
/* LOGIN */
.loginInput{
    margin: 5px 0;
    padding: 0 10px;
    width: 100%;
    height: 55px;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e6;
}
.login-wrapper{
    width: 400px;
    height: 1000px;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    
}

.login-wrapper > h2{
    text-align: left;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.loginbtn {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 30px;
    width: 100%;
}

.login_checkbox {
    display: flex;
    align-items: center; 
    gap: 5px;
}

.login_button{
        display: inline-block;
        width: 30%;
        border: 2px solid #ffd966;
        background: #ffd966;
        border-radius: 25px;
        padding: 3px 12px 5px 12px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0px;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        &:hover {
          color: #ffd966;
          background: #fff;
          border: 2px solid #ffd966;
        }
        &:active {
          box-shadow: none;
}
.login_checkbox{
	position: relative;
}
.checkbox>input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 4px;
	left: 0;
	background-color: #fff;
	border: 1px solid #e4e4e6;
}
.checkbox>input[type=checkbox]:checked:before {
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 4px;
	left: 0;
	background-color: #fcd11e;
	border: 1px solid #fcd11e;
}
/* MAIN NAV */
}
.logo_icon {
    cursor: pointer;
}

.header_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px; /* 좌우 패딩 설정 */
    background-color: white; /* 배경색 설정 */
    border-bottom: 1px solid #eaeaea; /* 하단에 얇은 경계선 */
}
/* 메뉴 리스트 */
.header_menu {
    display: flex;
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0;
    margin: 0;
}

/* 메뉴 아이템 */
.header_menu li {
    margin-left: 30px; /* 각 메뉴 간 간격 */
    font-size: 16px; /* 텍스트 크기 설정 */
}

/* 링크 스타일 */
.header_menu li a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 텍스트 색상 설정 */
    transition: color 0.3s ease; /* 마우스 호버 시 부드러운 색상 변경 */
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.nav-link {
    color: #585858;
    font-weight: 700;
}

/* NAV profile */		
.nav-profile{
	position: relative;
}

.profile-popup {
    display: none;
    position: absolute;
    top: 50px;
    left: -83px;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px !important;
    z-index: 10 !important;
}

.profile-popup.open {
    display: block;
}

.profile-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.popup-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    display: block;
}
.popup-item p {
	margin:0;
}

.popup-item:last-child {
    border-bottom: none;
    cursor: pointer;
}

/* 메인 배너 이미지 */

#bannerWrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#frame {
    width: 100%;
    overflow: hidden;
}

#imgBanner {
    display: flex;
    transition: transform 0.5s ease;
}

#imgBanner li {
    list-style: none;
    flex-shrink: 0;
    width: 100%;
}

button.swiper-button-prev, button.swiper-button-next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

button.swiper-button-prev {
    left: 50px;
}

button.swiper-button-next {
    right: 50px;
}

.swiper-button-prev {
    width: 35px;
    height: 35px;
}
.swiper-button-next{
    width: 35px;
    height: 35px; 
}
button.swiper-button-prev:hover svg path,
button.swiper-button-next:hover svg path {
    fill: #dbdbdb; /* SVG 아이콘 색상 */
}

img{
    width: 100%;
}
/* MAIN CONTENT */

.main_content {
    width: 1024px;
    margin: 0 auto;

}
.sectionContent{
    padding: 40px 16px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

.section.reverse {
    flex-direction: row-reverse; /* 텍스트 이미지 순서 */
}

.content-image {
    width: 70%;
    max-width: 100%;
    object-fit: cover; /* 이미지가 영역에 맞도록 조정 */
}

.content-text {
    width: 60%; /* 텍스트 영역의 너비를 넓힘 */
    /* white-space: nowrap; 텍스트를 한 줄로 표시 */

}

.content-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.content-description {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}


/* POST 게시판 테이블 */

table { 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    border : none;
    width:100%;
    text-align: center;
    margin:0 auto;
    position:relative;
  }
  
thead tr { 
      height:35px;
      background:#ffeb99;
      font-size:16px;
  } 
.table td { 
    background:#fff;
    border: none;
} 
.table-striped th {
    vertical-align: middle !important;
    border:none !important;
}



/* DataTables의 thead에 있는 th와 td의 border를 제거 */
table.dataTable > thead > tr > th, 
table.dataTable > thead > tr > td {
    border: none !important;
}

/* DataTables 정렬 아이콘 완전히 제거 */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after {
    content: none !important; /* content를 none으로 설정 */
    display: none !important; /* !important를 추가하여 우선순위 높임 */
}

.table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    border-bottom: 1px solid #e2e2e2;
}
/* DataTables 테이블 헤더 텍스트 강제 가운데 정렬 */
table.dataTable thead th {
    text-align: center !important; 
}
table.dataTable th, table.dataTable td {
    box-sizing: content-box;
    text-align: center !important; 
}
/* DataTables 테이블 헤더 텍스트 가운데 정렬 */
table.dataTable thead th {
    text-align: center; 
}
textarea {
    resize: none; /* 크기 조절 아이콘 제거 */
}

/* 전체 테이블에 대한 border 제거 */
table.dataTable {
    border: none !important; /* 테이블 외곽선 제거 */
}

/* 숫자 버튼에만 스타일 적용 */
.dataTables_wrapper .dataTables_paginate .paginate_button.current:not(.previous):not(.next) {
    background-color: #ffd966 !important;
    border: 1px solid #fff !important;
    border-radius: 50% !important;
    color: #333 !important;
}

/* 숫자 버튼에 마우스를 올렸을 때 색상 변경 */
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.previous):not(.next):hover {
    border-radius: 50% !important;
    background: #ffd966 !important;
    border-radius: 50% !important;
    border: 1px solid #fff;
    color: #333 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #333 !important;
}

/* 이전과 다음 버튼 기본 스타일 (원하지 않는 스타일 제거) */
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    background-color: transparent !important;
    border: none !important;
    color: inherit;
    margin: 20px;
}
.insertBtnContainer{
    position: relative;
}
.insertbtn{
    position: relative;
    top: -60px;
    display: inline-block;
	padding: 10px 30px;
	font-size: 16px;
	color: #000;
	background-color: #ffd966;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	margin-top: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s;
}
.insertbtn:hover {
	text-decoration-line: none;
	color: #000;
	background-color: #ffc107;
}

/* 게시판리스트 */
.popup-item{
    color: #000;
    text-decoration: none;
    border: none;
}
.popup-item:hover{
    text-decoration: none;
    color: #000;
}
/* 검색창 전체를 감싸는 컨테이너 스타일 */
.dataTables_filter {
    text-align: left; /* 정렬 변경 */
    margin-bottom: 20px;
}

.dataTables_wrapper{
    position: relative;
}
.dataTables_filter input[type="search"] {
    position: absolute;
    right: 4px;
    top: -33px;
}

/* 검색 입력 필드 스타일 */
.dataTables_wrapper .dataTables_filter input[type="search"] {
    width: 40%;
    border: 2px solid #fcd11e;
    border-radius: 24px;
    padding: 0 45px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
 	background-image: url('/image/search_icon.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 12px 50%;
}

.CommunityContainer{
    max-width: 1024px;
    margin: 40px auto;
}
.categoryGroup {
	display: flex;
	gap: 10px; /* 버튼 사이 간격 */
}
.categoryTitle{
    margin: 34px 0px -13px;
}

.btnCategory{
	display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 0; /* 마진 추가 */
}
.btnCategory:hover{
    text-decoration: none;
    color: #333;
    background-color: #f5f5f5;
}
.btnCategory.btnCategoryActive{
    text-decoration: none;
    color: #333;
    background-color: #ffd966;
}

/* 게시글 상세 */
.main {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.contents {
    padding: 20px;
}

.article_header {
	position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.ArticleTitle .title_area .title_text {
    margin-top: 7px;
}

.article_info {
    font-size: 14px;
    line-height: 30px;
    color: #C1C1C1;
    float: left;
}
/* WriterInfo 섹션 스타일 */
.WriterInfo {
    display: flex;
    margin-bottom: 10px;
}

/* 프로필 이미지 스타일 */
.user-profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}
.profile-sectio{
	padding-top: 5px;
}

/* 닉네임 스타일 */
.nickname-container {
    display: block;
}

.nickname {
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

/* 날짜와 조회수 스타일 */
.article-info {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
}

.article-info .date {
    margin-right: 15px;
}
/* 프로필 아이콘과 팝업 스타일 */
.user-profile-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0;
}

.nickname-container {
    position: relative;
    display: inline-block;
}

.nickname-popup {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
}

.nickname-popup .popup-item {
    padding: 8px;
    cursor: pointer;
}

.nickname-popup .popup-item:hover {
    background-color: #f1f1f1;
}

.main-contents {
    width: 100%;
    min-height: 400px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: solid 1px #eee;
}

.form-control[readonly] {
    background-color: #e9ecef;
}

/* 버튼 스타일 */
.buttons, .navigation-buttons {
    margin-top: 20px;
}

.buttons .btn, .navigation-buttons .btn {
    padding: 10px 20px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.buttons .btn:hover, .navigation-buttons .btn:hover {
    background-color: #0056b3;
}

/* 추천/비추천 버튼 스타일 */
.thumbButtonContainerWrap{
    display: flex;
    position: relative;
}
.thumbButtonContainer01{
    position: absolute;
    top:280px;
    left:455px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 3px;
    gap: 3px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d4d2d9;
}
.thumbButtonContainer02{
    position: absolute;
    top:280px;
    left:520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 3px;
    gap: 3px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d4d2d9;
}

.thumbButtonContainer01:hover{
    background-color: #e8e8e8;
}
.thumbButtonContainer02:hover{
    background-color: #e8e8e8;
}

.qaDetail_qaDetailInfoBtn, .qaDetail_qaDetailDeleteBtn{
    display: flex;
	align-items: center;
	justify-content: center;
    width: 81px;
    height: 26px;
    font-size: 12px;
    border-radius: 21px;
    border: none;
    color: #fff;
    width: 60px;
    background-color: #f6f6f9;
    color: #868688;
    float: left;
}

.qaDetail_qaDetailDeleteBtn:hover, .qaDetail_qaDetailInfoBtn:hover{
    text-decoration: none;
    color: #868688;
    background-color: #dbdbdb;

}

.qaDetailContainer {
    position: relative;
    padding: 25px 0 30px 7px;
}
.qaDetailDelete{
    position: absolute;
    left: 80px;
}
/* 파일 링크 스타일 */
.file{
	margin:20px;
}
.file-link {
    color: #007bff;
    text-decoration: underline;
    display: block;
    margin-top: 10px;
}

.file-link:hover {
    color: #0056b3;
}

/* 중앙 정렬 */
.text-center {
    text-align: center;
}

/*수정페이지*/
.title_text_input{
	
    min-height: 48px;
    width: 100%;
    padding: 13px 16px 11px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f5f6f8;
    font-size: 16px;
    line-height: 22px;
	resize : none;
	
}
/*카테고리 수정*/
.header{
	padding-top:30px;
}
.update_header{
	padding: 20px 28px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ededed;
    background-color: #fff;
}
.text_category {
    width: 100%;
    max-width: 300px; /*조정중*/
    margin: 10px 0;
    position: relative;
}

.text_category select {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    color: #333;
    border:none;
	border-bottom: 1px solid #ededed;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.text_category::after {
    content: '▼';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
    pointer-events: none; /* 아이콘 클릭 방지 */
}
/*카테고리 내용*/
.content{
	padding-top:20px;
}
.update_content{
    width: 100%;
    padding: 13px 16px 11px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
	resize : none;
}
.btn_box{
	padding-top:10px;
}

/* 산책 게시판 테이블 */
.insertWalkBtnContainer{
    position: relative;
}
.insertWalktbtn{
    position: relative;
    top: -60px;
    display: inline-block;
	padding: 10px 30px;
	font-size: 16px;
	color: #000;
	background-color: #ffd966;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	margin-top: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s;
}
.insertWalktbtn:hover {
	text-decoration-line: none;
	color: #000;
	background-color: #ffc107;
}

.walkbutton{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: #ffd966;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 7px;
}
.walkbutton:hover{
	background-color: #ffEBB9;
}
/* 산책 맵 */
.map_search {
    width: 100%;
    border: 2px solid #fcd11e;
    border-radius: 10px;
    padding: 0 45px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    background-image: url(/image/search_icon.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 12px 50%;
}

/* 펫 등록 버튼 */
.walk_walkBtn{
    display: flex;
	align-items: center;
	justify-content: center;
    width: 81px;
    height: 26px;
    font-size: 12px;
    border-radius: 21px;
    border: none;
    color: #fff;
    width: 60px;
    background-color: #ffd966;
    color: #333;
    float: left;
}

/* 리포트 팝업 */
.ReportContainer{
    max-width: 500px;
    margin: 40px auto;
}

.reportbtn{
    display: inline-block;
	padding: 10px 30px;
	font-size: 16px;
	color: #000;
	background-color: #ffd966;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	margin-top: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s;
}
.reportbtn:hover {
	text-decoration-line: none;
	color: #000;
	background-color: #ffc107;
}

/* 댓글 */
.comment-item{
    list-style-type: none;
    list-style: none;
}

/* 푸터 */
.petfooter{
    padding: 20px;
    text-align: center;
    height: 70px;
    background-color: #fdfdfd;
    border-top: 1px solid #ddd;
}
