<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout.html}">
<head>
<link rel="stylesheet" type="text/css" href="/css/common.css"> 
<meta charset="UTF-8">
<title>마이 펫 등록</title>
</head>
<body>
     <main layout:fragment="content">
			<form method="post" th:action="@{/animal/signup}" enctype="multipart/form-data"></form>
				<div class="main-container">
					<div class="register_registerContainer">
							<div class="register_registerContents">
									<div class="registr_pet_profile">
										<h1 class="register_pet_title">반려동물 등록</h1>
									</div>
									<div class="register_registerImg">
											<img class="registerImg" src="/image/pet.PNG">
									</div>
								
									<div class="register_inputWapper">
										<span class="register_necessaryDot"></span>
										<div class="register_inputWapperIn">
											<div class="register_inputFileWrapper">
												<label for="file" class="register_inputFileBtn">
													<input type="file" class="register_input" id="file" name="file"/>
													<img class="register_img"src="/image/ICON_Camera.png">
													사진첨부
												</label>
												<span class="register_inputDesc">등록 사진은 1개만 첨부 가능합니다</span>
											</div>
										</div>
									</div>

									<div class="register_inputWapper">
										<span class="register_necessaryDot">*</span>
										<div class="register_inputWapperIn">
												<div class="rgister_petName">
													<input aria-invalid="fals" placeholder="이름"  class="css-pet1010 "type="text"  name="ani_name" value="">
												</div>
										</div>
									</div>
									<div class="register_inputWapper">
										<span class="register_necessaryDot">*</span>
										<div class="register_inputWapperIn">
											<div class="rgister_petBirth">
												<input aria-invalid="fals" type="date" class="css-pet1010" value="">
											</div>
										</div>
									</div>
									<div class="register_inputWapper">
										<span class="register_necessaryDot">*</span>
										<div class="register_inputWapperIn">
												<div class="rgister_petName">
													<input aria-invalid="fals" placeholder="품종"  class="css-pet1010"type="text"  value="">
												</div>
										</div>
									</div>
		

									<div class="register_genderWrapper">
										<span class="register_necessaryDot">*</span>
										<div class="register_genderTitle">
											<div class="register_gender__rq">성별</div>
											<div class="register_radioContainer">
												<div class="register_radioWrap">
													<input class="radio_myRadio" type="radio" id="male" name="gender" value="MALE"><label for="male">남아</label>
												</div>
												<div class="register_radioWrap">
													<input class="radio_myRadio" type="radio" id="female" name="gender" value="MALE"><label for="FEMALE">여아</label>
												</div>
											</div>
										</div>
									</div>
									<div class="register_checkboxwrap">
										<input type="checkbox" value="false"></input>
										<label class="register_checkLabel">중성화 여부</label>
									</div>
									<div class="register_inputWrapper">
										<div class="register_inputWapperIn">
											<span class="register_necessaryDot"></span>
											<div class="MuiFormControl-root">
												<input aria-invalid="false" id="outlined-number" placeholder="몸무게(kg)" type="number" min="0" inputmode="decimal" pattern="[0-9]*" class="MuiOutlinedInput" value="">
											</div>
										</div>
									</div>
								<div>
								<button type="button" class="register_noregisterBtn" disabled="">등록</button>
								<button type="submit" class="register_registerCancelBtn">취소</button>
								</div>
							</div>
							
						</div>
					</div>
			</form>
    </main>
</body>
</html>
