<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout2.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div th:replace="~{layout/mypageheader.html :: header}"></div>
		<div class="container">
			<div style="font-size: 40px; text-align: center;">
				<header>댓글 리스트</header>
			</div>
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>번호</th>
							<th>내용</th>
							<th>작성자</th>
							<th>작성 날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${list}">
							
							<td th:text="${item.cm_num}"></td>
							<td>
								<a th:text="${item.cm_content}" th:href="@{/gatpost/detail/{po_num}(po_num=${item.po_num})}"></a>
							</td>
							<td th:text="${item.me_id}"></td>
							<td>
								<input type="datetime" class="form-control" readonly name="cm_date" th:value="*{#dates.format(item.cm_date, 'yyyy-MM-dd hh:mm:ss')}">
							</td>
						</tr>
						<tr th:if="${list.size() == 0}">
							<td colspan="6" class="text-center">등록된 댓글이 없습니다</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>