<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
        <div class="mt-3">
            <a class="btn mr-3 mb-3" th:each="item : ${communities}" th:classappend="${item.co_num} ? 'btn-info' : 'btn-outline-info'" th:text="${item.co_name}" th:href="@{/member/mypage/postList/{co_num}(co_num=${item.co_num})}">강아지</a>
        </div>
        <div id="postList" style="display: none">
	        <table id="dataTable" width="100%">
	            <thead>
	                <tr>
	                    <th>번호</th>
	                    <th>제목</th>
	                    <th>작성자</th>
	                    <th>작성일</th>
	                    <th>추천수</th>
	                    <th>조회수</th>
	                </tr>
	            </thead>
	            <tbody>
	                <!-- 데이터가 있을 경우 렌더링 -->
	                <tr th:each="post : ${list}">
	                    <td th:text="${post.po_num}"></td> <!-- 번호 -->
	                    <td>
	                        <a th:if="${post.po_delete == 1}">
	                            <span class="text-muted">이 글은 삭제된 글입니다.</span>
	                        </a>
	                        <a th:if="${post.po_delete == 0}" class="post14" style="display: none" th:text="${post.po_title}" th:href="@{/post/detail/{po_num}(po_num=${post.po_num})}"></a>
	                        <a th:if="${post.po_delete == 0}" class="post5" style="display: none" th:text="${post.po_title}" th:href="@{/walkmatepost/detail/{po_num}(po_num=${post.po_num})}"></a>
	                        <a th:if="${post.po_delete == 0}" class="post6" style="display: none" th:text="${post.po_title}" th:href="@{/gatpost/detail/{po_num}(po_num=${post.po_num})}"></a>
	                        <a th:if="${post.po_delete == 0}" class="post7" style="display: none" th:text="${post.po_title}" th:href="@{/post/marketdetail/{po_num}(po_num=${post.po_num})}"></a>
	                    </td>
	                    <td th:text="${post.po_me_num}"></td> <!-- 작성자 -->
	                    <td th:text="${post.po_date}"></td> <!-- 작성일 -->
	                    <td th:text="${post.recommendCount} + ' / ' + ${post.notRecommendCount}"></td> <!-- 추천수 / 비추천수 -->
	                    <td th:text="${post.po_viewCount}"></td> <!-- 조회수 -->
	                </tr>
	
	            </tbody>
	        </table>
        </div>
        <script type="text/javascript">
		    var url = window.location.pathname;
		    if (url != '/member/mypage/postList/0') {
				$('#postList').show();
			}
		    if (url != '/member/mypage/postList/5' && url != '/member/mypage/postList/6' && url != '/member/mypage/postList/7') {
		    	console.log(url);
				$('.post14').show();
				$('.post5').hide();
				$('.post6').hide();
				$('.post7').hide();
			}
		    if (url == '/member/mypage/postList/5') {
		    	console.log(url);
				$('.post14').hide();
				$('.post5').show();
				$('.post6').hide();
				$('.post7').hide();
			}
		    if (url == '/member/mypage/postList/6') {
		    	console.log(url);
				$('.post14').hide();
				$('.post5').hide();
				$('.post6').show();
				$('.post7').hide();
			}
		    if (url == '/member/mypage/postList/7') {
		    	console.log(url);
				$('.post14').hide();
				$('.post5').hide();
				$('.post6').hide();
				$('.post7').show();
			}
	    </script>
    </main>
</body>
</html>