<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2.html}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<title>Insert title here</title>
<style type="text/css">
	.comment-item.comment-layer-1{
		padding-left: 40px; display: none;
	}
	.comment-item.comment-layer-2{
		padding-left: 80px; display: none;
	}
	
</style>
</head>
<body>
	<main layout:fragment="content" id="main">
		<form method="post" th:action="@{/walkmatepost/detail/{po_num}(po_num=*{po_num})}">
		<div class="post_Container">
			<div th:object="${walkMatePost}">
				<div class="walkContainer">
					<div class="walkContents">
						<div class="walkContents01">
							<!-- 모두 전용 -->
							<div class="test">
								<div sec:authorize="isAnonymous()">
									<button type="button" class="wlakIconBtn" id="anonymous-action"><span class="wlakHeartIcon"></span>즐겨찾기</button>
									<button type="button" class="wlakIconBtn" id="anonymous-action"><span class="wlakBlockIcon"></span>신고하기</button>
								</div>
							</div>
							<!-- 유저 전용 -->
							<th:block th:if="${user != null}">
								<div class="test">
									<a th:if="${bookmark}!=${po_num}" class="" th:href="@{/post/bookmark/insert/{po_num}(po_num=*{po_num})}" >즐겨찾기</a>
									<a th:if="${bookmark}==${po_num}" class="" th:href="@{/post/bookmark/delete/{po_num}(po_num=*{po_num})}" >즐겨찾기</a>
									<button type="button" class=""
									 th:onclick="'window.open(\'/report/post/' + ${po_num} + '\', \'newwindow\', \'width=800,height=600,left=100,top=100\'); return false;'">신고하기</button>
								</div>
							</th:block>
							<!-- 신청자 전용 -->
							<div sec:authorize="isAuthenticated()">
								<div th:if="${#authentication.principal.member.me_num != walkMatePost.po_me_num && walkMatePost.wm_wms_state != '완료'}"></div>
							</div>
							
							<div class="post_Category">
								<label>제목</label> 
								<input type="text" class="postInput" th:field="*{po_title}" readonly>
							</div>
							<div class="post_Category">
								<label>작성자</label>
								<input type="text" class="postInput" th:field="*{me_id}" readonly>
							</div>
							
							<div class="post_Category">
								<label>날짜</label>
								<input type="date" class="postInput" th:field="*{wm_date}" readonly>
							</div>
							<div class="post_Category">
								<label>시간</label>
								<input type="time" class="postInput" th:field="*{wm_time}" readonly>
							</div>
						</div>
						<div class="walkContents02">
							<div class="post_Category">
								<label>약속 장소</label>
								<!-- 이미지 지도를 표시할 div 입니다 -->
								<div class="walkMap" id="staticMap" style="width:100%; height:350px;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="post_Category">
					<label>내용</label>
					<textarea class="postText" style="min-height: 400px; height: auto;" th:utext="*{po_content}" readonly>
					</textarea>
				</div>
				<div class="post_Category">
				<label class="table_Category">작성자</label>
					<div class="tableContainer">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>이름</th>
									<th>나이</th>
									<th>성별</th>
									<th>중성화 여부</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${detailPetList}">
									<td>
									<div class="walkBtnContianer">
										<button class="walk_walkBtn" th:text="${item.ani_name}"
										   th:onclick="'window.open(\'/animal/profile2/' + ${item.ani_num} + '\', \'newwindow\', \'width=800,height=600,left=100,top=100\'); return false;'" >
									   </button>
									</div>   
									</td>
									<td th:text="${item.ani_age}"></td>
									<td th:text="${item.ani_gender}"></td>
									<td th:text="${item.ani_neutralization}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<label class="table_Category">신청자</label>
					<div class="tableContainer">
					<table class="table table-striped" id="myTable">
						<thead>
							<tr>
								<th>이름</th>
								<th>나이</th>
								<th>성별</th>
								<th>중성화 여부</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${choicePetList == null or choicePetList.empty}">
				                <!-- 이 부분이 아무 펫도 없을 때 표시됩니다. -->
				                <td colspan="4" >아직 신청한 펫이 없습니다.</td>
				            </tr>
							<tr th:each="item : ${choicePetList}">
								<td>
								<div class="walkBtnContianer">
									<button class="walk_walkBtn" th:text="${item.ani_name}"
									   		th:onclick="'window.open(\'/animal/profile2/' + ${item.ani_num} + '\', \'newwindow\', \'width=800,height=600,left=100,top=100\'); return false;'" >
							    	</button>
							    </div>   
								</td>
								<td th:text="${item.ani_age}"></td>
								<td th:text="${item.ani_gender}"></td>
								<td th:text="${item.ani_neutralization}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
				<!-- The Modal -->
				<div class="modal" id="myModal">
					<div class="modal-dialog">
						<div class="modal-content">
						
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">내 펫 등록하기</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							
							<!-- Modal body -->
							<div class="modal-body">
								산책할 펫을 등록하시겠습니까?
							</div>
							
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal2">수락</button>
								<button type="button" class="btn btn-outline-danger" data-dismiss="modal">거절</button>
							</div>
						
						</div>
					</div>
				</div>
				<div class="modal" id="myModal2">
					<div class="modal-dialog">
						<div class="modal-content">
						
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">산책 메이트 펫 등록하기</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							
							<!-- Modal body -->
							<div>
								<div class="modal-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>선택</th>
												<th>이름</th>
												<th>나이</th>
												<th>성별</th>
												<th>중성화 여부</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${petList == null or petList.empty}">
												<td>등록된 펫이 없습니다.</td>
												<td>
													<a class="btn btn-outline-warning" th:href="@{/animal/signup}">펫 등록하기</a>
												</td>
											</tr>
											
											<tr th:if="${petList != null}" th:each="item : ${petList}">
												<td>
													<input type="checkbox" name="check" value="선택" th:value="${item.ani_num}"/>
												</td>
												<td th:text="${item.ani_name}"></td>
												<td th:text="${item.ani_age}"></td>
												<td th:text="${item.ani_gender}"></td>
												<td th:text="${item.ani_neutralization}"></td>
											</tr>
											
										</tbody>
									</table>
								</div>
								<br>
								
								<!-- Modal footer -->
								<div class="modal-footer">
									<button name="petEnroll" class="btn btn-outline-info" >산책 메이트 펫 등록하기</button>
									<button type="button" class="btn btn-outline-danger" data-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 글 작성자 전용 -->
				<div sec:authorize="isAuthenticated()">
					<div th:if="${#authentication.principal.member.me_num == walkMatePost.po_me_num && walkMatePost.wm_wms_state != '완료'}">
						<div class="walkDetailContainer">
							<div class="walkDetailDelete">
								<a class="walk_DetailInfoBtn" th:href="@{/walkmatepost/update/{po_num}(po_num=*{po_num})}">수정</a>
								<a class="walk_DetailDeleteBtn" th:href="@{/walkmatepost/delete/{po_num}(po_num=*{po_num})}">삭제</a>
							</div>
						</div>
						<div class="walk_Btn">
							<a class="walk_submitBtn" th:href="@{/walkmatepost/approve/{po_num}(po_num=*{po_num})}">산책 메이트 수락하기</a>
							<a class="walk_inventoryBtn" th:href="@{/walkmatepost/list}">목록으로</a>
						</div>
	
					</div>
				</div>
				<!-- 신청자 전용 -->
				<div sec:authorize="isAuthenticated()">
					<div th:if="${#authentication.principal.member.me_num != walkMatePost.po_me_num && walkMatePost.wm_wms_state != '완료'}">
						<div class="post_Btn">
							<a class="walk_submitBtn" data-toggle="modal" data-target="#myModal">산책 메이트 신청하기</a>
							<a class="walk_inventoryBtn" th:href="@{/walkmatepost/list}">목록으로</a>
						</div>
					</div>
				</div>
				<!-- 유저 전용 -->
				<th:block th:if="${user != null}">
						<div class="post_Btn">
							<a class="walk_submitBtn" data-toggle="modal" data-target="#myModal">산책 메이트 신청하기</a>
							<a class="walk_inventoryBtn" th:href="@{/walkmatepost/list}">목록으로</a>
						</div>
				</th:block>
				<!-- 모두 전용 -->
				<div sec:authorize="isAnonymous()">
					<div class="post_Btn">
						<a class="walkTestBtn" th:href="@{/walkmatepost/list}">목록으로</a>
					</div>
				</div>
				<!-- 댓글 -->
				<div class="form-group">  
					<button class="btn btn-outline-info" id="commentButton" type="button">댓글</button>
				</div>
				<div class="form-group commentList" id="commentList" style="display: none;">
					<div id="comment">
					</div>
					<th:block th:if ="${user != null}">
					<div class="input-group mb-3">
					    <textarea class="form-control" placeholder="댓글 입력" id="input-comment"></textarea>
					    <div class="input-group-append">
							<span class="input-group-text btn-insert" id="btn_insert0">등록</span>
					    </div>
					</div>
				</th:block>
				</div>
				<div id="selectedPets"></div> <!-- selectedPets를 출력할 요소 추가 -->
			</div>
			</div>
		</form>

<!-- appkey 가져오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e141a54b3e32d6131dd17f72265325ab"></script>
<!-- services와 clusterer, drawing 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>
	<script>
	var latitude = '[[${walkMatePost.latitude}]]';
	var longitude = '[[${walkMatePost.longitude}]]';
    
    console.log("Latitude:", latitude);
    console.log("Longitude:", longitude);
    
    var marker = {
        position: new kakao.maps.LatLng(latitude, longitude),
        text: '약속 장소!'
    };

    var staticMapContainer = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
        staticMapOption = {
            center: new kakao.maps.LatLng(latitude, longitude), // 이미지 지도의 중심좌표
            level: 3, // 이미지 지도의 확대 레벨
            marker: marker // 이미지 지도에 표시할 마커
        };

    // 이미지 지도를 생성합니다
    var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
	</script>
	<script>
		// myModal2를 열 때 myModal을 닫는 함수
	    $('#myModal2').on('show.bs.modal', function () {
	        $('#myModal').modal('hide');
	    });
		
	    // 페이지 로드가 완료된 후에 스크립트를 실행하도록 설정
	    document.addEventListener('DOMContentLoaded', function() {
	        const petEnrollButton = document.querySelector('button[name="petEnroll"]');
	
	        if (petEnrollButton) {
	            petEnrollButton.addEventListener('click', function(event) {
	                const checkedBoxes = document.querySelectorAll('input[name="check"]:checked');
	                
	                let selectedUserAniNums = [];
	                const selectedPetsEl = document.querySelector('#selectedPets');
	                selectedPetsEl.innerHTML = '';
	                let str = '';
	                
	                checkedBoxes.forEach(function(checkbox) {
	                    let aniNum = checkbox.value;  // 체크된 체크박스의 value가 ani_num
	                    let petData = {
	                        phsp_po_num: null,
	                        phsp_ani_num: aniNum
	                    };
	                    console.log(aniNum);
	                    selectedUserAniNums.push(petData);  // 객체 배열에 추가
	                    str += `<input type="text" name="selectedUserAniNums" value="${aniNum}"/>`;
	                });
	                
	                selectedPetsEl.innerHTML = str;
	                console.log(JSON.stringify(selectedUserAniNums));
	                
	                let selectedPets = [];
	                checkedBoxes.forEach(function(checkbox) {
	                    let row = checkbox.closest('tr');
	                    let petData = {
	                        name: row.querySelector('td:nth-child(2)').innerText,
	                        age: row.querySelector('td:nth-child(3)').innerText,
	                        gender: row.querySelector('td:nth-child(4)').innerText,
	                        neutralization: row.querySelector('td:nth-child(5)').innerText
	                    };
	                    selectedPets.push(petData);
	                });
	                
	                const hiddenInput = document.createElement('input');
	                hiddenInput.type = 'hidden';
	                hiddenInput.name = 'selectedPets';
	                hiddenInput.value = JSON.stringify(selectedPets);
	                document.querySelector('#main').appendChild(hiddenInput);
	                
	                console.log(selectedPets);
	                
	                const tbody = document.querySelector('#myTable tbody');
	                if (tbody) {
	                    tbody.innerHTML = '';  // 기존 내용 초기화
	                    selectedPets.forEach(function(pet) {
	                        const newRow = document.createElement('tr');
	                        newRow.innerHTML = `
	                            <td>${pet.name}</td>
	                            <td>${pet.age}</td>
	                            <td>${pet.gender}</td>
	                            <td>${pet.neutralization}</td>
	                        `;
	                        tbody.appendChild(newRow);
	                    });
	                } else {
	                    console.error('#myTable tbody not found');
	                }
	            });
	        }
	    });
	    
	    let me_num = '[[${user != null ? user.me_num : 0}]]';
    	let po_num = '[[${walkMatePost.po_num}]]';
		
		$ (document).ready ( function () { 
			document.getElementById("commentButton").click();
		}); 
		
		$("#commentButton").click(function() {
			$(".commentList").toggle();
		})
		
		function getCommentList() {
			$.ajax({
				async : true, 
				url : '/comment/listin',
				method : "post",
				data : JSON.stringify(po_num), 
				contentType : "application/json; charset=utf-8",
				success : function (data){
					DisplayCommentList(data);
				}, 
				error : function(jqXHR, textStatus, errorThrown){
				}
			});
		}
		
		function DisplayCommentList(data){
			str = '';
			if(data == null || data.length == 0){
				$("#comment").html('<li class="comment-item">등록된 댓글이 없습니다.</li>');
				return;
			}
			for(comment of data){
				let reBtn = '';
				let reInput = '';
				let btns = '';
				if(comment.me_num == me_num){
					btns = `
						<button class="btn btn-outline-info btn-update" data-num="${comment.cm_num}">수정</button>
						<button class="btn btn-outline-dark btn-delete" data-num="${comment.cm_num}">삭제</button>
					`
				}
				let commentLayer = '';
				
				if (comment.cm_layer == 0){
					reBtn = `<button class="btn btn-outline-primary btn-comment btn-comment1" data-reply="${comment.cm_reply}" data-ord="${comment.cm_ord}" data-layer="${comment.cm_layer}">대댓글</button>`;
					if (me_num != 0) {
						reInput =`
							<div class="input-group mb-3 commnet-input commentListInput" style="padding-left:20px; display: none;">
							    <textarea class="form-control input-comment1" id="input-comment1" placeholder="댓글 입력"></textarea>
							    <div class="input-group-append">
									<span class="input-group-text btn-insert1" id="btn_insert1" data-reply="${comment.cm_reply}"  data-ord="${comment.cm_ord}">등록</span>
									</div>
							</div>
						`
					}
				}
				if (comment.cm_layer == 1) {
					commentLayer = 'comment-layer-1';
					reBtn = `<button class="btn btn-outline-primary btn-comment btn-comment2" data-reply="${comment.cm_reply}"  data-ord="${comment.cm_ord}" data-layer="${comment.cm_layer}">대대댓글</button>`;
					if (me_num != 0) {
						reInput =`
							<div class="input-group commnet-input mb-3 commentListInput comment-layer-2" style="padding-left:20px; display: none;">
							    <textarea class="form-control input-comment2" id="input-comment2" placeholder="댓글 입력" ></textarea>
							    <div class="input-group-append">
									<span class="input-group-text btn-insert2" id="btn-insert2" data-reply="${comment.cm_reply}"  data-ord="${comment.cm_ord}">등록</span>
									</div>
							</div>
						`
					}
				}
				if (comment.cm_layer == 2) {
					commentLayer = 'comment-layer-2';
					reBtn = '';
				}
				str += `
					<div class="comment-item ${commentLayer} " id="commentList1" data-reply="${comment.cm_reply}" data-ord="${comment.cm_ord}" data-layer="${comment.cm_layer}">
						<div>
							<div style="float: left; line-height: 40px;">${comment.me_id}</div>
							<div style="line-height: 40px;">(${comment.cm_date})</div>
							<div class="float-right">
								${btns}
								${reBtn}
							</div>
						</div>
						<div>
							<div style="padding-left:20px; line-height: 40px;">${comment.cm_content}</div>
						</div>
						${reInput}
					</div>
				`;
				$("#comment").html(str);
			}
		}
		
		$("#btn_insert0").click(function name() {
			var cm_content = $('#input-comment').val();
			var cm_po_num = po_num;
			var cm_ord = 0;
			var cm_layer = 0;
			var comment = {
					cm_content : cm_content,
					cm_po_num : cm_po_num,
					cm_ord : cm_ord,
					cm_layer : cm_layer
				}
			$.ajax({
				async : true,
				url : '/comment/insert', 
				type : 'post', 
				data : JSON.stringify(comment), 
				contentType : "application/json; charset=utf-8",
				success : function (data){
					if(data){
						$('#input-comment').val('');
						location.reload(true);
					}
				}, 
				error : function(jqXHR, textStatus, errorThrown){
					console.log(jqXHR);
				}
			});
		})
		
		$(document).on('click', ".btn-insert1",  function() {
			var cm_content = $(this).parent().prev().val();
			var cm_po_num = po_num;
			var cm_reply = $(this).data('reply');
			var cm_layer = 1;
			var comment = {
					cm_content : cm_content,
					cm_po_num : cm_po_num,
					cm_reply : cm_reply,
					cm_layer : cm_layer
				}
			$.ajax({
				async : true,
				url : '/comment/insert1', 
				type : 'post', 
				data : JSON.stringify(comment), 
				contentType : "application/json; charset=utf-8",
				success : function (data){
					if(data){
						$('.input-comment1').val('');
						location.reload(true);
					}
				}, 
				error : function(jqXHR, textStatus, errorThrown){
					console.log(jqXHR);
				}
			});
		})
		
		$(document).on('click', ".btn-insert2",  function() {
			var cm_content = $(this).parent().prev().val();
			var cm_po_num = po_num;
			var cm_reply = $(this).data('reply');
			var cm_ord = $(this).data('ord');
			var cm_layer = 2;
			var comment = {
					cm_content : cm_content,
					cm_po_num : cm_po_num,
					cm_reply : cm_reply,
					cm_ord : cm_ord,
					cm_layer : cm_layer
				}
			$.ajax({
				async : true,
				url : '/comment/insert2', 
				type : 'post', 
				data : JSON.stringify(comment), 
				contentType : "application/json; charset=utf-8",
				success : function (data){
					if(data){
						$('.input-comment2').val('');
						location.reload(true);
					}
				}, 
				error : function(jqXHR, textStatus, errorThrown){
					console.log(jqXHR);
				}
			});
		})
		
		
		$(function(){
		    getCommentList();
		});
		
		$(".btn_insert").click(function() {
		    getCommentList();
		});
		
		
		//댓글의 대댓글
		$(document).on('click', ".btn-comment1",  function() {
			//대댓에 layer값과 댓글 값을 지정
			let reply = $(this).data('reply');
			let ord = $(this).data('ord');
			let layer = $(this).data('layer');
			
			$('.comment-item').each(function(){
				let t_reply = $(this).data('reply');
				let t_ord = $(this).data('ord');
				let t_layer = $(this).data('layer');
				let nextObj = null;
				if(t_reply != reply){
					return;
				}
				if(t_ord < ord){
					return;
				}
				if(t_layer != layer+1){
					return;
				}
				$(this).toggle();
				if(t_reply == reply){
					nextObj = $(this);
				}
				$('.comment-layer-2').hide();
			})
			$(this).parents('.comment-item').find('.commnet-input').toggle();
		})
		
		//대댓글의 대대댓글
		$(document).on('click', ".btn-comment2",  function() {
			//대댓에 layer값과 댓글 값을 지정
			let reply = $(this).data('reply');
			let ord = $(this).data('ord');
			let layer = $(this).data('layer');
			let curObj = $(this).parents('.comment-item'); 
			let nextObj = null;
			$('.comment-item').each(function(){
				let t_reply = $(this).data('reply');
				let t_ord = $(this).data('ord');
				let t_layer = $(this).data('layer');
				if(t_reply == reply && t_layer == layer && ord < t_ord && nextObj == null){
					nextObj = $(this);
				}
				if(t_reply > reply && nextObj == null){
					nextObj = $(this);
				}
			})
			curObj.nextUntil(nextObj).toggle();
			$(this).parents('.comment-item').find('.commnet-input').toggle();
		})
		
		$(document).on('click', ".btn-delete",  function() {
			var cm_num = $(this).data('num');
			var comment = {
					cm_num : cm_num
				}
			$.ajax({
				async : true,
				url : '/comment/delete', 
				type : 'post', 
				data : JSON.stringify(comment), 
				contentType : "application/json; charset=utf-8",
				success : function (data){
					if(data){
						location.reload(true);
					}
				}, 
				
				error : function(jqXHR, textStatus, errorThrown){
					console.log(jqXHR);
				}
			});
		})
		
		let myWindow;
		$(document).on('click', ".btn-update",  function() {
			var cm_num = $(this).data('num');
			let popOption = "width=300,height=300, top=300, left=1000";
			let openUrl = '/comment/update?cm_num='+ cm_num;
			myWindow = window.open(openUrl, 'pop', popOption);
		})
	    document.addEventListener('DOMContentLoaded', function() {
	        const anonymousButtons = document.querySelectorAll('#anonymous-action');

	        anonymousButtons.forEach(button => {
	            button.addEventListener('click', function() {
	                if (confirm('로그인이 필요한 서비스입니다.\n로그인 페이지로 이동하시겠습니까?')) {
	                    window.location.href = '/member/login'; // 로그인 페이지로 이동
	                }
	                // 아니오를 선택할 경우 페이지에 머무름
	            });
	        });
	    });
	    
	    document.querySelectorAll('.bookmark-btn').forEach(button => {
	        button.addEventListener('click', function(e) {
	            e.preventDefault(); // 기본 동작 방지
	            const url = this.getAttribute('data-url'); // data-url 속성에서 URL 가져오기

	            fetch(url, {
	                method: 'POST', // 즐겨찾기 추가/삭제는 POST 요청
	                headers: {
	                    'Content-Type': 'application/json',
	                    'Accept': 'application/json'
	                }
	            })
	            .then(response => response.json())
	            .then(data => {
	                alert(data.message); // 성공 또는 실패 메시지
	                window.location.reload(); // 사용자가 확인 버튼을 누르면 페이지를 새로고침
	            })
	            .catch(error => {
	                console.error('Error:', error);
	                alert('오류가 발생했습니다.');
	                window.location.reload(); // 오류 발생시에도 새로고침
	            });
	        });
	    });
	    
	</script>
	</main>
</body>
</html>