<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div th:object="${walkMatePost}">
			<div class="form-group">
				<label>제목</label>
				<input type="text" class="form-control" th:field="*{po_title}" readonly>
			</div>
			
			<!-- 로그인 기능 미구현으로 작성자 직접 입력해야함... 추후 수정 -->
			<div class="form-group">
				<label>작성자</label>
				<input type="text" class="form-control" th:field="*{me_id}" readonly>
			</div>
			
			<!-- 추후에 달력 api 추가 예정 -->
			<div class="form-group">
				<label>날짜</label>
				<input type="text" class="form-control" th:field="*{wm_date}" readonly>
			</div>
			<div class="form-group">
				<label>시간</label>
				<input type="text" class="form-control" th:field="*{wm_time}" readonly>
			</div>
			<div class="form-group">
				<label>내용</label>
				<textarea class="form-control" style="min-height: 400px; height: auto;" th:utext="*{po_content}" readonly>
				</textarea>
			</div>
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>이름</th>
							<th>나이</th>
							<th>성별</th>
							<th>중성화 여부</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${detailPetList}">
							<td th:text="${item.ani_name}"></td>
							<td th:text="${item.ani_age}"></td>
							<td th:text="${item.ani_gender}"></td>
							<td th:text="${item.ani_neutralization}"></td>
						</tr>
					</tbody>
				</table>
			</div>
						<!-- The Modal (부트스트랩4 고마워) -->
			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
					
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">내 펫 등록하기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<!-- Modal body -->
						<div class="modal-body">
							산책할 펫을 등록하시겠습니까?
						</div>
						
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal2">수락</button>
							<button type="button" class="btn btn-outline-danger" data-dismiss="modal">거절</button>
						</div>
					
					</div>
				</div>
			</div>
			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">
					
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">산책 메이트 펫 등록하기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<!-- Modal body -->
						<div>
							<div class="modal-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>선택</th>
											<th>이름</th>
											<th>나이</th>
											<th>성별</th>
											<th>중성화 여부</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item : ${petList}">
											<td>
												<input type="checkbox" name="check" value="선택" th:value="${item.ani_num}"/>
											</td>
											<td th:text="${item.ani_name}"></td>
											<td th:text="${item.ani_age}"></td>
											<td th:text="${item.ani_gender}"></td>
											<td th:text="${item.ani_neutralization}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						
							<!-- Modal footer -->
							<div class="modal-footer">
								<button name="petEnroll" class="btn btn-outline-info" data-dismiss="modal">산책 메이트 펫 등록하기</button>
								<button type="button" class="btn btn-outline-danger" data-dismiss="modal">닫기</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<a class="btn btn-outline-info" data-toggle="modal" data-target="#myModal">산책 메이트 신청하기</a>
			<br>
			<!-- 로그인 기능 구현 완료되면 작성자만 보이게 수정할 것 -->
			<a class="btn btn-outline-primary" th:href="@{/walkmatepost/update/{po_num}(po_num=*{po_num})}">수정</a>
			<a class="btn btn-outline-warning" th:href="@{/walkmatepost/delete/{po_num}(po_num=*{po_num})}">삭제</a>
		</div>
		
		<script>
		    // myModal2를 열 때 myModal을 닫는 함수
		    $('#myModal2').on('show.bs.modal', function () {
		        $('#myModal').modal('hide');
		    });
		</script>
	</main>
</body>
</html>