<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<form method="post" th:action="@{/walkmatepost/insert}">
			<div class="form-group">
				<label>제목</label>
				<input type="text" class="form-control" name="po_title">
			</div>
			
			<!-- 로그인 기능 미구현으로 작성자 직접 입력해야함... 추후 수정 -->
			<div class="form-group">
				<label>작성자 번호</label>
				<input type="text" class="form-control" name="po_me_num">
			</div>
			
			<!-- 추후에 달력 api 추가 예정 -->
			<div class="form-group">
				<label>날짜</label>
				<input type="text" class="form-control" name="wm_date">
			</div>
			<div class="form-group">
				<label>시간</label>
				<input type="text" class="form-control" name="wm_time">
			</div>
			<div class="form-group">
				<label>내용</label>
				<textarea class="form-control" style="min-height: 400px; height: auto;" name="po_content">
				</textarea>
			</div>
			
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
				내 펫 등록하기
			</button>
			
			<!-- The Modal (부트스트랩4 고마워) -->
			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
					
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">내 펫 등록하기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<!-- Modal body -->
						<div class="modal-body">
							여기에 펫 정보들 나열하고, 체크 박스 넣을 거임 ㅇㅇ
							체크 한 값 등록하기 버튼과 함께 전송해서 
						</div>
						
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
						</div>
					
					</div>
				</div>
			</div>
			<!-- 나중에 펫 등록 안돼 있으면 등록 못하게 추가할 예정  -->
			<button class="btn btn-outline-info col-12">게시글 등록</button>
		</form>
		<a class="btn btn-outline-info" th:href="@{/walkmatepost/list}">목록으로</a>
	</main>
</body>
</html>