<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout2.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<form method="post" th:action="@{/walkmatepost/insert}" id="walkmatePostForm">
		 <div class="post_Container">
			<div class="post_Category">
				<label>제목</label><span class="post_Mark">*</span>
				<input placeholder="제목을 입력해주세요" type="text" class="postInput" id="po_title" name="po_title">
			</div>
			<!-- 로그인 PostVO에 me_id 넣기 -->
			<div class="form-group">
				<input type="hidden" th:value="${me_num}" class="form-control" name="po_me_num">
			</div>
    		<div class = "from-group">
        		<label>약속 장소 검색</label>
        		<input type = "text" id ="keyword" class = "input-textbox" placeholder = "장소를 검색해주세요.">
    		</div>
    		<input type="hidden" id="latitude" name="latitude">
			<input type="hidden" id="longitude" name="longitude">
			<ul id = "placesList"></ul>
			<!-- 추후에 달력 api 추가 예정 -->
			<div class="post_Category">
				<label>날짜</label>
				<input type="date" class="postInput" name="wm_date">
			</div>
			<div class="post_Category">
				<label>시간</label>
				<input type="time" class="postInput" name="wm_time">
			</div>
			<div class="post_Category">
				<label>내용</label>
				<textarea placeholder="5자 이상의 글 내용을 입력해주세요" class="postText" id="po_content" name="po_content"></textarea>
			</div>
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>이름</th>
							<th>나이</th>
							<th>성별</th>
							<th>중성화 여부</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<span class="post_Mark">*</span>
			<button type="button" class="walkbutton" data-toggle="modal" data-target="#myModal">
				내 펫 등록하기
			</button>
			
			<!-- The Modal (부트스트랩4 고마워) -->
			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
					
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">내 펫 등록하기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<!-- Modal body -->
						<div class="modal-body">
							산책할 펫을 등록하시겠습니까?
						</div>
						
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal2">수락</button>
							<button type="button" class="btn btn-outline-danger" data-dismiss="modal">거절</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">
					
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">내 펫 등록하기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<!-- Modal body -->
						<div>
							<div class="modal-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>선택</th>
											<th>이름</th>
											<th>나이</th>
											<th>성별</th>
											<th>중성화 여부</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item : ${petList}">
											<td>
												<input type="checkbox" name="check" value="선택" th:value="${item.ani_num}"/>
											</td>
											<td th:text="${item.ani_name}"></td>
											<td th:text="${item.ani_age}"></td>
											<td th:text="${item.ani_gender}"></td>
											<td th:text="${item.ani_neutralization}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						
							<!-- Modal footer -->
							<div class="modal-footer">
								<button name="petEnroll" class="btn btn-outline-info" data-dismiss="modal">내 펫 등록</button>
								<button type="button" class="btn btn-outline-danger" data-dismiss="modal">닫기</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div th:text="${message}"></div>
			
				<div class="post_Btn">
					<button class="post_submitBtn" id="submitBtn" type="button">글 등록</button>
					<a class="post_inventoryBtn" th:href="@{/walkmatepost/list}">목록으로</a>
				</div>
			<input type="hidden" id="selectedPets" name="selectedPets" value="">
		</div>
		</form>
		
		<!-- appkey 가져오기 -->
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e141a54b3e32d6131dd17f72265325ab&libraries=services"></script>
		<script type="text/javascript">
		$('#keyword').change(function(){
		    searchPlaces();
		});

		var ps = new kakao.maps.services.Places(); 
		var listEl = document.getElementById('placesList');

		function searchPlaces() {
		    var keyword = document.getElementById('keyword').value;
		    if (!keyword.replace(/^\s+|\s+$/g, '')) {
		        removeAllChildNods(listEl);
		        return false;
		    }
		    ps.keywordSearch(keyword, placesSearchCB); 
		}

		function placesSearchCB(data, status, pagination) {
		    if (status === kakao.maps.services.Status.OK) {
		        displayPlaces(data);
		    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
		        removeAllChildNods(listEl);
		        alert('검색 결과가 존재하지 않습니다.');
		        return;
		    } else if (status === kakao.maps.services.Status.ERROR) {
		        alert('검색 결과 중 오류가 발생했습니다.');
		        return;
		    }
		}

		function displayPlaces(places) {
		    var fragment = document.createDocumentFragment(); 
		    removeAllChildNods(listEl);
		    
		    for (var i = 0; i < places.length; i++) {
		        var itemEl = getListItem(i, places[i]);
				
		        // 클릭 이벤트 추가
		        (function(place) {
		            itemEl.onclick = function() {
		                var key = document.getElementById('keyword');
		                var latInput = document.getElementById('latitude');
		                var lngInput = document.getElementById('longitude');

		                // 장소 이름과 경위도 값을 input에 설정
		                key.value = place.place_name;
		                latInput.value = place.y; // 위도
		                lngInput.value = place.x; // 경도
		                
		                // 리스트 초기화
		                removeAllChildNods(listEl);       		
		            };
		        })(places[i]);
		        
		        fragment.appendChild(itemEl);
		    }
		    listEl.appendChild(fragment);
		}

		function getListItem(index, place) {
		    var el = document.createElement('li'),
		        itemStr = '<span class="markerbg marker_' + (index + 1) + '"></span>' +
		                  '<div class="info">' +
		                  '   <span class="info-title"><b>' + place.place_name + '</b></span>';
		    
		    if (place.road_address_name) {
		        itemStr += '<br><span class="info-address"><small>' + place.road_address_name + '</small></span>';
		    } else {
		        itemStr += '<br><span class="info-address"><small>' + place.address_name + '</small></span>'; 
		    }        

		    el.innerHTML = itemStr;
		    el.className = 'item';

		    return el;
		}

		function removeAllChildNods(el) {   
		    while (el.hasChildNodes()) {
		        el.removeChild(el.lastChild);
		    }
		}
		</script>
		
		<script>
		    // myModal2를 열 때 myModal을 닫는 함수
		    $('#myModal2').on('show.bs.modal', function () {
		        $('#myModal').modal('hide');
		    });
		    
		    document.querySelector('button[name="petEnroll"]').addEventListener('click', function(event) {
		        event.preventDefault(); // 기본 폼 제출 방지 : 얘 없으면 펫 등록하기 눌렀을 때 게시글 전송됨;;;

		        const checkedBoxes = document.querySelectorAll('input[name="check"]:checked');
		        
		        let selectedHostAniNums = [];
				const selectedPetsEl = document.querySelector('#selectedPets');
				selectedPetsEl.innerHTML = '';
				var str = '';
		    	// 체크된 항목의 ani_num 값 추출
		        checkedBoxes.forEach(function(checkbox) {
		            let aniNum = checkbox.value;  // 체크된 체크박스의 value가 ani_num
		            
		            // PostHostSelectedPetsVO 객체 생성
		            let petData = {
		                phsp_po_num: null, // 서버에서 자동 생성하므로 null 또는 아예 생략 가능
		                phsp_ani_num: aniNum
		            };
					console.log(aniNum)
		            selectedHostAniNums.push(petData); // 객체를 배열에 추가
		            str += `<input type="text" name="selectedHostAniNums" value="${aniNum}"/>`;
		        });
		        selectedPetsEl.innerHTML = str;
		       	/*
		     	// 선택된 동물 데이터 전송
		        $.ajax({
		            url: '/walkmatepost/insert/animals', // 데이터 전송 URL
		            type: 'POST',
		            contentType: 'application/json',
		            data: JSON.stringify(selectedHostAniNums), // 배열을 JSON 문자열로 변환
		            success: function(response) {
		                console.log('Animals response:', response);
		                // 이후 추가 동작이 필요할 수 있음
		            },
		            error: function(jqXHR, textStatus, errorThrown) {
		                console.error('Animal error 발생:', textStatus, errorThrown);
		            }
		        });
		     	*/
		        console.log(JSON.stringify(selectedHostAniNums));
		        
		        console.log(selectedHostAniNums);
		        
		        let selectedPets = [];

		        //배열에 저장
		        checkedBoxes.forEach(function(checkbox) {
		            let row = checkbox.closest('tr');
		            let petData = {
		                name: row.querySelector('td:nth-child(2)').innerText,
		                age: row.querySelector('td:nth-child(3)').innerText,
		                gender: row.querySelector('td:nth-child(4)').innerText,
		                neutralization: row.querySelector('td:nth-child(5)').innerText
		            };
		            selectedPets.push(petData);
		        });

		        // 배열을 JSON 형태로 변환하여 hidden input에 추가
		        const hiddenInput = document.createElement('input');
		        hiddenInput.type = 'hidden';
		        hiddenInput.name = 'selectedPets';
		        hiddenInput.value = JSON.stringify(selectedPets);
		        document.querySelector('form').appendChild(hiddenInput);
				
		        console.log(selectedPets);
		        
		     	// 테이블에 데이터를 동적으로 추가
		        const tbody = document.querySelector('tbody'); 
		        tbody.innerHTML = '';  // 기존 내용 초기화

		        selectedPets.forEach(function(pet) {
		            const newRow = document.createElement('tr');

		            const nameCell = document.createElement('td');
		            nameCell.innerText = pet.name;

		            const ageCell = document.createElement('td');
		            ageCell.innerText = pet.age;

		            const genderCell = document.createElement('td');
		            genderCell.innerText = pet.gender;

		            const neutralizationCell = document.createElement('td');
		            neutralizationCell.innerText = pet.neutralization;
		            
		            newRow.appendChild(nameCell);
		            newRow.appendChild(ageCell);
		            newRow.appendChild(genderCell);
		            newRow.appendChild(neutralizationCell);

		            tbody.appendChild(newRow);
		        });
		    });
		    // 펫 등록을 안하면, 게시글 등록이 안되게 막는 jQuery
		    /* document.querySelector('.btn1-outline-info.col-12').addEventListener('click', function(event) {
		        // 체크된 체크박스 확인
		        const checkedBoxes = document.querySelectorAll('input[name="check"]:checked');

		        // 체크된 체크박스가 없으면 경고창 표시하고 폼 제출 중단
		        if (checkedBoxes.length === 0) {
		            alert("펫 등록을 해야 게시글 등록이 가능합니다.");
		            event.preventDefault(); // 폼 제출 중단
		        } else {
		            //document.querySelector('form').submit(); // 체크된 경우 폼 제출
		        }
		    }); */
		    
		    /* document.querySelector('.btn-outline-info.col-12').addEventListener('click', function() {
		        document.querySelector('form').submit();  // 폼 제출 : 기본 폼 제출 방지 때문에 직접 밑에 적어주기~
		    }); */
		    
		    document.getElementById('submitBtn').addEventListener('click', function(e) {
		    	const checkedBoxes = document.querySelectorAll('input[name="check"]:checked');
		    	event.preventDefault(); // 폼 제출 중단
		        // 체크된 체크박스가 없으면 경고창 표시하고 폼 제출 중단
		        if (checkedBoxes.length === 0) {
		            alert("펫 등록을 해야 게시글 등록이 가능합니다.");
		            return ;
		        } 
		        var formData = new FormData(walkmatePostForm);
		        console.log(1)
		        fetch('/walkmatepost/insert', {
		            method: 'POST',
		            body: formData
		        })
		        .then(response => response.json())  // 응답을 JSON으로 변환
		        .then(data => {
		        	console.log(data)
		            alert(data.message);  // 성공 또는 실패 메시지를 알림으로 표시
		            if (data.success) {
		                window.location.href = '/walkmatepost/list';  // 성공 시 리스트 페이지로 리디렉션
		            }
		        })
		        .catch(error => console.error('Error:', error));
		    });
		    
		  //첫번째 시도번호를 가져옴 
			let firstSido = '[[${sidoList.get(0).sido_num}]]';
			//시도가 변경되면 ajax로 시도에 맞는 시군구를 가져옴
			$('#sido').change(function(){
				let sido_num = $(this).val();
				$.ajax({
					async : true,
					url : '/get/sigg', 
					type : 'post', 
					data : {sido_num}, 
					success : function (data){
						var str = ''
						for(sigg of data){
							str += `
									<option value="${sigg.sigg_num}">${sigg.sigg_name}</option>
							`;
						}
						$('#sigg').html(str);
						$('#sigg').trigger('change');
					},
					error : function(jqXHR, textStatus, errorThrown){
					}
				});
			})
			//select 태그의 값을 변경 후 이벤트 실행
			$('#sido').val(firstSido);
			$('#sido').trigger('change');
			
			$('#sigg').change(function(){
				let sigg_num = $(this).val();
				$.ajax({
					async : true,
					url : '/get/emd', 
					type : 'post', 
					data : {sigg_num}, 
					success : function (data){
						var str = ''
						for(emd of data){
							str += `
									<option value="${emd.emd_num}">${emd.emd_name}</option>
							`;
						}
						$('#emd').html(str);
					},
					error : function(jqXHR, textStatus, errorThrown){
					}
				});
			})
		</script>
		
	</main>
</body>
</html>