<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout2.html}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/project.css">
	<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="CommunityContainer">  
			<table class="table table-striped">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${list}" th:if="${item != null}">
						<td th:text="${item.po_num}"></td>
						<td>
							<a th:text="${item.po_title}"
							th:href="@{/walkmatepost/detail/{po_num}(po_num=${item.po_num})}"></a> 
						</td>
						<td th:text="${item.me_id}"></td>
						<td th:text="${item != null ? item.po_viewCount : '0'}"></td>
					</tr>
				</tbody>
			</table>
			<div class="insertWalkBtnContainer" sec:authorize="isAuthenticated()">
				<a class="insertWalktbtn"
					th:href="@{/walkmatepost/insert}">글쓰기</a>	
			</div>
			<div sec:authorize="isAnonymous()">
				<button class="btn btn-outline-info anonymous-action">글쓰기</button>	
			</div>
		</div>
		<script type="text/javascript">
		    document.addEventListener('DOMContentLoaded', function() {
		        const anonymousButtons = document.querySelectorAll('.anonymous-action');
	
		        anonymousButtons.forEach(button => {
		            button.addEventListener('click', function() {
		                if (confirm('로그인이 필요한 서비스입니다.\n로그인 페이지로 이동하시겠습니까?')) {
		                    window.location.href = '/member/login'; // 로그인 페이지로 이동
		                }
		                // 아니오를 선택할 경우 페이지에 머무름
		            });
		        });
		    });
		    
		    var message = /*[[${message}]]*/ '기본 메시지';
		    if (message !== '기본 메시지') {
		        alert(message);
		    }
		    
		</script>
	</main>
</body>
</html>