<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout2.html}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/project.css">
	<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="CommunityContainer">
		<h1 class="categoryTitle">산책메이트</h1>
			<table id="dataTable">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>진행상태</th>
						<th>작성자</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${list}" th:if="${item != null}">
						<td th:text="${item.po_num}"></td>
						<td>
							<a th:text="${item.po_title}"
							th:href="@{/walkmatepost/detail/{po_num}(po_num=${item.po_num})}"></a> 
						</td>
						<td th:text="${item.wm_wms_state}"></td>
						<td th:text="${item.me_id}"></td>
						<td th:text="${item != null ? item.po_viewCount : '0'}"></td>
					</tr>
				</tbody>
			</table>
			<div class="insertWalkBtnContainer" sec:authorize="isAuthenticated()">
				<a class="insertWalktbtn"
					th:href="@{/walkmatepost/insert}">글쓰기</a>	
			</div>
			<div class="insertWalkBtnContainer" sec:authorize="isAnonymous()">
				<button class="btn insertWalktbtn anonymous-action">글쓰기</button>	
			</div>
		</div>
		<script type="text/javascript">
		
		    document.addEventListener('DOMContentLoaded', function() {
		        const anonymousButtons = document.querySelectorAll('.anonymous-action');
	
		        anonymousButtons.forEach(button => {
		            button.addEventListener('click', function() {
		                if (confirm('로그인이 필요한 서비스입니다.\n로그인 페이지로 이동하시겠습니까?')) {
		                    window.location.href = '/member/login'; // 로그인 페이지로 이동
		                }
		                // 아니오를 선택할 경우 페이지에 머무름
		            });
		        });
		    });
		    
		    var message = /*[[${message}]]*/ '기본 메시지';
		    if (message !== '기본 메시지') {
		        alert(message);
		    }
 $(document).ready(function() {
            	
                $('#dataTable').DataTable({
                    "language": {
                        "search": "검색: ",
                        "lengthMenu": "_MENU_ 개씩 보기",
                        "zeroRecords": "등록된 글이 없습니다.",  // 빈 데이터 메시지
                        "infoEmpty": "데이터가 없습니다.",
                        "infoFiltered": "(전체 _MAX_개의 데이터에서 필터링됨)",
                        "paginate": {
                            "first": "처음",
                            "last": "마지막",
                            "next": "다음",
                            "previous": "이전"
                        }
                    },
                    "info": false, // 테이블 정보 표시를 제거
                    "lengthMenu": false,
                    "lengthChange" : false,
                    //"dom": '<"top"f>t<"bottom"p>' // 'lengthMenu' 부분을 제거하고 테이블과 페이징만 표시
                });
                // 검색 텍스트만 숨기기
                $('.dataTables_filter label').contents().filter(function() {
                    return this.nodeType === 3; // 텍스트 노드만 선택
                }).remove();
                
 		});
		</script>
	</main>
</body>
</html>