<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="header">
		<nav class="header_container">
			<div class="logo_icon">
			<a href="/"><img th:src="@{/image/logo.png}" alt="logo" style="width:120px"></a>
			</div>
			<div class="header_headerList">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="nav_container">
					<ul class="header_menu">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/post/list/1}">게시판</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/walkmatepost/list}">산책메이트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/gatpost/list}">품앗이 리스트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/post/market}">중고거래</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/bookmark/list/1}">즐겨찾기</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/message/messagebox/0}">쪽지함</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" 
								th:href="@{/member/signup}" sec:authorize="isAnonymous()">회원가입</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" 
								th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a>
						</li>
						<li class="nav-profile" sec:authorize="isAuthenticated()">
							<img class="profile-icon" th:src="@{/image/profile.png}" alt="Profile" id="profileIcon">
							<div class="profile-popup" id="profilePopup">
							<div class="popup-item">
								<p sec:authorize="isAuthenticated()">
								<span th:text="${#authentication.principal.member.me_nickname}"></span>님
								<br>ID:
								<span th:text="${#authentication.principal.member.me_id}" style="font-size:13px;"></span> <br>
								</p></div>
								<div class="popup-item">내 프로필</div>
								<div class="popup-item">평점</div>
								<div class="popup-item">등록된 펫</div>
								<form name="logoutForm" 
									th:action="@{/member/logout}" sec:authorize="isAuthenticated()">
									<a class="popup-item" onclick="javascript:logoutForm.submit();">로그아웃</a>
								</form>
							</div>
						</li>
	       		 	</ul>
				</div>
			</div>
			<script>
	        const profileIcon = document.getElementById('profileIcon');
	        const profilePopup = document.getElementById('profilePopup');
	
	        profileIcon.addEventListener('click', () => {
	            profilePopup.classList.toggle('open');
	        });
	
	        window.addEventListener('click', (event) => {
	            if (!profileIcon.contains(event.target) && !profilePopup.contains(event.target)) {
	                profilePopup.classList.remove('open');
	            }
	        });
 		   </script>  
		</nav>
    </header>
