<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="header">
		<nav class="header_container">
			<div class="logo_icon">
			<a href="/"><img th:src="@{/image/logo.png}" alt="logo" style="width:120px"></a>
			</div>
			<div class="header_headerList">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				</button>
				<div class="nav_container">
					<ul class="header_menu">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/post/list/1}">게시판</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/walkmatepost/list}">산책메이트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/gatpost/list}">품앗이 리스트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/post/market/11}">중고마켓</a>
						</li>
						<li class="nav-item dropdown">
							<a id="navbardrop" class="nav-link dropdown-toggle"
								href="#" 
								data-toggle="dropdown"> 
								이용 시설
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/facility/share}">보러가기</a>
								<a class="dropdown-item" th:href="@{/facility/insert}">등록하기</a>
							</div> 
						</li>
				<!-- 		<li class="nav-item">
							<a class="nav-link" th:href="@{/bookmark/list/1}">즐겨찾기</a>
						</li> -->
				<!-- 		<li class="nav-item">
							<a class="nav-link" th:href="@{/message/messagebox}">쪽지함</a>
						</li> -->
						<li class="nav-item">
							<a class="nav-link" 
								th:href="@{/member/signup}" sec:authorize="isAnonymous()">회원가입</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" 
								th:href="@{/member/login/button}" sec:authorize="isAnonymous()">로그인</a>
						</li>
						<li class="nav-profile" sec:authorize="hasAuthority('USER')">
							<img class="profile-icon" th:src="@{/image/profile.png}" alt="Profile" id="profileIcon">
							<div class="profile-popup" id="profilePopup">
								<div class="popup-item">
									<p sec:authorize="isAuthenticated()">
									<span th:text="${#authentication.principal.member.me_nickname}"></span>님
									<br>ID:
									<span th:text="${#authentication.principal.member.me_id}" style="font-size:13px;"></span> <br>
									</p>
								</div>
								<div class="popup-item">
									<a class="profile" th:href="@{/mypage/mypage}">마이페이지</a>
								</div>
								<div class="popup-item">
									<a class="profile" th:href="@{/message/messagebox}">쪽지함</a>
								</div>
								<form name="logoutForm" 
									th:action="@{/member/logout}" sec:authorize="isAuthenticated()">
									<a class="popup-item" onclick="javascript:logoutForm.submit();">로그아웃</a>
								</form>
							</div>
						</li>
						<li class="nav-profile" sec:authorize="hasAuthority('ADMIN')">
							<img class="profile-icon" th:src="@{/image/profile.png}" alt="Profile" id="profileIcon">
							<div class="profile-popup" id="profilePopup">
								<div class="popup-item">
									<p sec:authorize="isAuthenticated()">
										<span th:text="관리자"></span>님
									</p>
								</div>
								<div class="popup-item">
									<a class="profile" th:href="@{/report/list}">신고 내역 조회</a>
								</div>
								<div class="popup-item">
									<a class="profile" th:href="@{/facility/admin/approval}">시설 등록하기</a>
								</div>
								<form name="logoutForm" 
									th:action="@{/member/logout}" sec:authorize="isAuthenticated()">
									<a class="popup-item" onclick="javascript:logoutForm.submit();">로그아웃</a>
								</form>
							</div>
						</li>
	       		 	</ul>
				</div>
			</div>
			<script>
	        const profileIcon = document.getElementById('profileIcon');
	        const profilePopup = document.getElementById('profilePopup');
	
	        profileIcon.addEventListener('click', () => {
	            profilePopup.classList.toggle('open');
	        });
	
	        window.addEventListener('click', (event) => {
	            if (!profileIcon.contains(event.target) && !profilePopup.contains(event.target)) {
	                profilePopup.classList.remove('open');
	            }
	        });
 		   </script>  
		</nav>
    </header>
