<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="header">
			<div class="contentheader">
				<div class="user_community">
					<a class="user_activity" th:href="@{/mypage/mypage}">프로필</a> 
					<a class="user_message">쪽지보내기</a>
					<a class="user_report">신고하기</a> 
					<a class="user_rating">평점</a> 
					<a class="user_postList" th:href="@{/member/mypage/postList/0}">게시글 리스트</a> 
				    <a class="user_commentList" th:href="@{/member/mypage/commentList}">댓글 리스트</a>
				</div>
			</div>
    </header>
