<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div th:if="${post != null}" th:object="${post}">
			<br/>
			<div class="from-group">
				<label>제목 : </label>
				<input type="text" class="form-control" readonly th:field="*{po_title}">
			</div>
			<div class="from-group">
				<label>작성자 : </label>
				<input type="text" class="form-control" readonly th:value="${post.me_id}">
			</div>
			<div class="form-group">
		 	<label>작성일:</label>
		    <input type="text" class="form-control" readonly 
     		th:value="${post.po_date != null ? #dates.format(post.po_date, 'yyyy-MM-dd') : '날짜 없음'}">

			<div class="from-group">
				<label>조회수 : </label>
				<input type="text" class="form-control" readonly th:field="*{po_viewCount}">
			</div>
			<div class="text-center">
			<br/>
		    <a href="#" data-state="1"
		       class="btn-up btn btn" 
		       th:classappend="${re_state != 1} ? '-outline-danger' : '-danger'">
		        👍추천
		    </a>
		    &nbsp;
		    <a href="#" data-state="-1"
		       class="btn-down btn btn" 
		       th:classappend="${re_state != -1} ? '-outline-danger' : '-danger'">
		        👎비추천
		    </a>
			</div>
			<div class="form-group">
				<label>내용:</label>
				<div class="form-control" style="min-height: 400px; height: auto;"
					th:utext="*{po_content}">
				</div>
			</div>
			<!--  <div class="form-group" th:if="${list != null and #lists.size(list) > 0}">-->
			<div class="form-group">
			     <label>첨부파일 :</label>
			    <div th:each="file : ${list}">
			        <a th:href="@{'/download/' + ${file.fi_name}}" 
			           class="form-control" 
			           th:download="${file.fi_ori_name}" 
			           th:text="${file.fi_ori_name}">
			        </a>
			    </div>
			</div>
			<a class="btn btn-outline-info" th:href="@{/post/list/{po_num}(po_num=*{po_num})}">목록으로</a>
			<a class="btn btn-outline-info" th:href="@{/post/update/{po_num}(po_num=*{po_num})}">수정</a>
			<a class="btn btn-outline-info" th:href="@{/post/delete/{po_num}(po_num=*{po_num})}">삭제</a>
		</div>
	</div>
	<script th:inline="javascript">
    // 추천/비추천 버튼 클릭 이벤트
    $('.btn-up, .btn-down').click(function(e) {
        e.preventDefault();
        if (!checkLogin()) {
            return;
        }

        // 추천: 1, 비추천: -1 상태
        let state = $(this).data('state');
        // Thymeleaf에서 JS 변수로 게시글 번호를 전달
        var num = /*[[${post.po_num}]]*/ "0";  
        // 게시글 번호를 Thymeleaf로 전달

        $.ajax({
            url: '/post/recommend',
            type: 'POST',
            dataType: 'json',
            data: {
                state: state,
                num: num
            },
            
            success: function(data) {
            	
                let res = data.result;
                if (res == 1) {
                    alert('추천했습니다.');
                } else if (res == -1) {
                    alert('비추천했습니다.');
                } else {
                    alert(`${state == 1 ? '추천' : '비추천'}을 취소했습니다.`);
                }

                checkRecommendBtns(res);
                console.log(res);
                
                

                // 업데이트된 추천/비추천 수 반영
                let post = data.post;
                $('.btn-up span').text(post.po_recommendCount);
                $('.btn-down span').text(post.po_notRecommendCount);
            },
            error: function(xhr) {
                if (xhr.status === 400) {  // 400 에러 처리
                    let response = JSON.parse(xhr.responseText);
                    alert(response.error);  // "로그인이 필요합니다." 메시지 출력
                    location.href = '/member/login';  // 로그인 페이지로 리다이렉트
                } else {
                    alert('오류가 발생했습니다.');
                }
            }
        });
    });

    // 추천/비추천 버튼의 상태에 따라 스타일 변경
    function checkRecommendBtns(state) {
        $('.btn-up, .btn-down').removeClass('btn-danger');
        $('.btn-up, .btn-down').addClass('btn-outline-danger');
        if (state != 0) {
            $(state == 1 ? '.btn-up' : '.btn-down').removeClass('btn-outline-danger');
            $(state == 1 ? '.btn-up' : '.btn-down').addClass('btn-danger');
        }
    }

    // 로그인 확인 함수
    function checkLogin(){
    	 // 로그인된 사용자 ID를 Thymeleaf를 통해 가져옴
        let userId = /*[[${#authentication.principal}]]*/ false;

		console.log("1:" + userId);
		
        if (userId == '') {  // 로그인되지 않은 상태
            if (confirm('로그인이 필요한 서비스입니다.\n로그인 페이지로 이동하시겠습니까?')) {
                location.href = '[[@{/member/login}]]';  // 로그인 페이지로 이동
                return false;
            } else {
                return false;
            }
        }
        return true;
    }
	</script>

		
		
	</main>
</body>
</html>