<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<form method="post" th:action="@{/post/insert}">
			 <!-- 카테고리 선택 -->
			<div class="form-group">
			<br/>
		    <label for="category">카테고리</label>
		    <select id="category" name="co_num" required>
		        <option value="">게시판을 선택하세요</option>
		        <!-- 카테고리 목록을 ${communities}로 전달받아 동적으로 생성 -->
		        <option th:each="item : ${communities}" th:value="${item.co_num}" th:text="${item.co_name}"></option>
		    </select>
		    </div>
			<div class="form-group">
				<label>제목</label>
				<input type="text" class="form-control" name="po_title">
			</div>
			<div class="form-group">
				<label>작성자 번호(임시)</label>
				<input type="text" class="form-control" name="po_me_num" >
			</div>
			<div class="form-group">
				<label>내용</label>
				<textarea class="form-control" style="min-height: 400px; height: auto;" name="po_content">
				</textarea>
			</div>
			<div class="from-group">
				<label>첨부파일</label>
				<input type="file" class="form-control" name="fileList">
				<br/>
			</div>
			<button class="btn btn-outline-info col-12">게시글 등록</button>
			<input type="hidden" name="po_co_num" value="${co_num }">
		</form>
		<a class="btn btn-outline-info" style="margin-top:10px;"th:href="@{/post/list/{co_num}(co_num=${co_num})}">목록으로</a>
	</main>
	<script>
	$('#content').summernote({
		placeholder: '내용을 작성하세요.',
		tabsize: 2,
		height: 400
	});
    </script>
</body>
</html>