<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
	<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<meta charset="UTF-8">
</head>
<body>
	<main layout:fragment="content">
		<!-- 강아지 커뮤니티 버튼 -->
		<div class="mt-3">
			<a class="btn mr-3 mb-3"
				th:each="item : ${communities}"
				th:classappend="${item.co_num} ? 'btn-info' : 'btn-outline-info'"
				th:text="${item.co_name}"
				th:href="@{/post/list/{co_num}(co_num=${item.co_num})}">강아지</a>
		</div>
			<h1>게시판 구현중</h1>
			<table id="dataTable" width="100%">
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일</th>
							<th>추천수</th> <!-- 수정: 한 개의 열로 통합 -->
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${list}"> 
							<td th:text="${item.po_num}"></td>
					        <td>
					            <a th:if="${item.po_delete == 1}">
					               <span class="text-muted">이 글은 삭제된 글입니다.</span>
					            </a>
					          
					            <a th:if="${item.po_delete == 0}"
					               th:text="${item.po_title}" 
					               th:href="@{/post/detail/{po_num}(po_num=${item.po_num})}">
					            </a>
					        </td>
							    <td th:text="${item.po_me_num}"></td>
						        <td th:text="${item.po_date}"></td>
						         <!-- 추천수 / 비추천수 통합 -->
            					<td th:text="${item.recommendCount} + ' / ' + ${item.notRecommendCount}"></td>
						        <td th:text="${item.po_viewCount}"></td>
						    </tr>

						<tr th:if="${list.size() == 0}">
							<td colspan="6" class="text-center">등록된 게시글이 없습니다.</td>
						</tr>
					</tbody>
			</table>
		<a class="btn btn btn-outline-dark" th:href="@{/post/insert/{co_num}(co_num=${co_num})}">글쓰기</a>
		<script type="text/javascript">
		//테이블 삽입
		$(document).ready(function() {
    $('#dataTable').DataTable({
        "language": {
            "search": "검색: ", 
            "lengthMenu": "_MENU_ 개씩 보기", 
            "zeroRecords": "검색 결과가 없습니다.", 
            "infoEmpty": "데이터가 없습니다.",
            "infoFiltered": "(전체 _MAX_개의 데이터에서 필터링됨)",
            "paginate": {
                "first": "처음",
                "last": "마지막",
                "next": "다음",
                "previous": "이전"
            }
        },
        "info": false  // 테이블 정보 표시를 제거
    });
});
		</script>
	</main>
</body>
</html>