<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<body>
		
    <main layout:fragment="content">
   		<table class="table table-striped">
	    	<thead>
					<tr>
						<th>번호</th>
						<th>판매상태</th>
						<th>제목</th>
						<th>판매내용</th>
						<th>금액</th>
						<th>아이디</th>
					</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${list}">
					<td th:text="${item.po_num}"></td>
					<td th:text="${item.mp_gts_state}"></td>
					<td>
						<a th:href="@{/post/marketdetail/{po_num}(po_num=${item.po_num})}" th:text="${item.po_title}"></a>
					</td>
					<td th:text="${item.po_content}"></td>
					<td th:text="${item.mp_price}"></td>
					<td th:text="${item.me_id}"></td>
				</tr>
				<tr th:if="${list.size() == 0}">
					<td colspan="4" class="text-center">등록된 게시글이 없습니다.</td>
				</tr>
			</tbody>
    	</table>

			<a th:href="@{/post/marketinsert}"
			 class="btn btn-outline-dark col-12">게시글 등록</a>

    </main>
    
</body>
</html>