<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout/layout2.html}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>
<body>
    <main layout:fragment="content">
        <form method="post" th:action="@{/post/marketinsert/11}" enctype="multipart/form-data">
           <div class="post_Container">
            <div class="post_Category">
                <label>제목</label> <span class="post_Mark">*</span>
                <input placeholder="제목을 입력해주세요" type="text" class="postInput" name="po_title" >
            </div>
            <div class="post_Category">
                <label>내용</label> <span class="post_Mark">*</span>
                <textarea placeholder="5자 이상의 글 내용을 입력해주세요" id="content" class="postText" name="po_content"></textarea>
            </div>
            <div class="post_Category">
                <label>타입 </label>
                <select class="marketCategoryFiled" name="mp_gt_type">
                    <option value="">선택하세요</option>
                    <option th:each="type : ${types}" 
                            th:value="${type.gt_type}" 
                            th:text="${type.gt_type}"></option>
                </select>
            </div>
            <div class="post_Category">
                <label>상품명</label> <span class="post_Mark">*</span>
                <input type="text" class="postInput" name="mp_name" >
            </div>
            <div class="post_Category">
                <label>상품내용</label> <span class="post_Mark">*</span>
                <textarea  placeholder="5자 이상의 글 내용을 입력해주세요" class="postText" name="mp_content"></textarea>
            </div>
            <div class="post_Category">
                <label>가격</label>
                <input type="text" class="postInput" name="mp_price" >
            </div>
            <div class="post_Category">
                <label>파일첨부</label>
                <input type="file" class="postInput" name="fileList" multiple />
            </div>
            <div class="post_Btn">
           		<button class="post_submitBtn" type="submit">게시글 등록</button>
            </div>
			</div>
        </form>
    </main>

</body>
</html>