<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<form method="post" th:object="${post}" th:action="@{/post/update/{po_num}(po_num=*{po_num})}">
		<input type="hidden" th:field="*{po_num}"/>
		  <!-- 카테고리 선택 -->
          <div class="form-group">
                <br/>
                <label for="category">카테고리</label>
                <select id="category" name="po_co_num" required>
                    <option value="">게시판을 선택하세요</option>
                    <!-- 카테고리 목록을 동적으로 생성 -->
                    <option th:each="item : ${communities}" 
                            th:value="${item.co_num}" 
                            th:text="${item.co_name}" 
                            th:selected="${co_num == item.co_num}">
                    </option>
                </select>
            </div>
			<div class="form-group">
				<label>제목:</label>
				<input type="text" class="form-control" th:field="*{po_title}">
			</div>
			<div class="form-group">
				<label>작성자:</label>
				<input type="text" class="form-control" readonly> <!-- 작성자 th:field="*{po_me_id}"  -->
			</div>
			<div class="form-group">
				<label>내용:</label>
				<textarea class="form-control" style="min-height: 400px; height: auto;" th:field="*{po_content}">
				</textarea>
			</div>
			<button class="btn btn-outline-info col-12">게시글 수정</button>
		</form>
		<br/>
		<a class="btn btn-outline-info" th:href="@{/post/list/0}">목록으로</a>
	</main>

</body>
</html>