<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<link rel="stylesheet" type="text/css" href="/css/common.css">
<meta charset="UTF-8">
<title>update</title>
</head>
<body>
	<main layout:fragment="content">
		<form method="post" th:object="${post}" th:action="@{/post/update/{po_num}(po_num=*{po_num})}">
		<input type="hidden" th:field="*{po_num}"/>
		  <!-- 카테고리 선택 -->
		  <div class="post_Container">
		    <span class="post_Category">카테고리</span>
	          	<span class="post_Mark">*</span>
		          	<div class="post_PostCategory">
					      <select class="categoryFiled" id="category" name="po_co_num" required>
						    <option value="">게시판을 선택하세요</option>
						    <!-- 카테고리 목록을 동적으로 생성 -->
						    <option th:each="item : ${communities}" 
						            th:value="${item.co_num}" 
						            th:text="${item.co_name}" 
						            th:selected="${post.po_co_num eq item.co_num}">
						    </option>
						</select>
					</div>
					<div class="post_Category">
						<label>제목</label> <span class="post_Mark">*</span>
						<input type="text" class="postInput" name="po_title"  th:field="*{po_title}">
					</div>
					<div class="post_Category">
						<label>내용</label> <span class="post_Mark">*</span>
						<textarea class="postText" th:field="*{po_content}"></textarea>
					</div>
					<div class="post_Btn">
						<button class="post_submitBtn">글 수정</button>
						<a class="post_inventoryBtn"th:href="@{/post/list/{co_num}(co_num=${co_num})}">목록으로</a>
					</div>
			</div>
		</form>
	</main>

</body>
</html>