<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
</head>
<body>
	<main th:fragment="body">
		<div class="login-wrapper">
			<h2>로그인</h2>
			<input name="username" class="loginInput" type="text" placeholder="Username">
			<input name="password" class="loginInput" type="password" placeholder="Password">
		     <label class="loginbtn">
			    <div class="login_checkbox">
			        <input type="checkbox" name="remember-me"/> Remember Me
			    </div>
			    <button class="login_button">로그인</button>
			</label>
		</div>
	</main>
</body>
</html>