<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">	
	<link rel="stylesheet" type="text/css" href="/css/common.css"> 
	
	<style type="text/css">
	label.error{
		color : red;
	}
	.register_inputWapperIn.readonly {
		/* background-color: #dcdcdc !important; */
		background-color: ivory !important;
	}
	</style>
</head>
<body>
	<div th:fragment="main">
		<div th:object="${memberVo}">
			<div class="registr_pet_profile">
				<h1 class="register_pet_title">회원 정보 수정</h1>
			</div>
			<div class="register_registerImg">
				<img class="registerImg" src="/image/image_not_found_new.png" id="preview">
			</div>
			<div class="register_inputWapper">
				<span class="register_necessaryDot"> </span>
				<div class="register_inputWapperIn readonly">
					<div class="rgister_petName">
						<input placeholder="아이디" class="css-pet1010" type="text" 
							th:field="*{me_id}" readonly>
					</div>
				</div>
			</div>
			<div class="register_inputWapper">
				<span class="register_necessaryDot">*</span>
				<div class="register_inputWapperIn">
					<div class="rgister_petName">
						<input placeholder="비밀번호" class="css-pet1010" type="text" 
							id= "me_pw" name="me_pw">
					</div>
				</div>
			</div>
			<div class="register_inputWapper">
				<span class="register_necessaryDot">*</span>
				<div class="register_inputWapperIn">
					<div class="rgister_petName">
						<input placeholder="비밀번호 확인" class="css-pet1010" type="text" 
							id= "me_pw2" name="me_pw2">
					</div>
				</div>
			</div>
			<div class="register_inputWapper">
				<span class="register_necessaryDot">*</span>
				<div class="register_inputWapperIn">
					<div class="rgister_petName">
						<input placeholder="닉네임" class="css-pet1010" type="text" 
							th:field="*{me_nickname}">
					</div>
				</div>
			</div>
			<div class="register_inputWapper">
				<span class="register_necessaryDot">*</span>
				<div class="register_inputWapperIn">
					<div class="rgister_petName">
						<input placeholder="휴대전화번호" class="css-pet1010" type="text" 
							th:field="*{me_phone}">
					</div>
				</div>
			</div>
			<div class="register_inputWapper">
				<span class="register_necessaryDot">*</span>
				<div class="register_inputWapperIn">
					<div class="rgister_petName">
						<input placeholder="이메일" class="css-pet1010" type="text" 
							th:field="*{me_email}">
					</div>
				</div>
			</div>
			<input th:field="*{me_num}" hidden="hidden">
		</div>
	</div>
</body>
</html>