<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="form-group" th:object="${GATPost}">
			<div class="form-group">
				<div th:if="${GATPost.gat_gat.equals('o')}">
					<input class="btn btn-outline-info text-center" type="text" readonly value="GIVE">
					<input class="btn btn-outline-info text-center" type="text" readonly th:field="*{gat_gats_state}">
				</div>
				<div th:if="${GATPost.gat_gat.equals('x')}">
					<input class="btn btn-outline-info text-center" type="text" readonly value="TAKE">
					<input class="btn btn-outline-info text-center" type="text" readonly th:field="*{gat_gats_state}">
				</div>
			</div>
			<div class="form-group">
				<label>제목:</label>
				<input type="text" class="form-control" readonly th:field="*{po_title}">
			</div>
			<div class="form-group">
				<label>작성자:</label>
				<input type="text" class="form-control"  readonly th:field="*{me_id}">
			</div>
			<div class="form-group">
				<label>내용:</label>
				<div class="form-control" style="min-height: 400px; height: auto;"
					th:utext="*{po_content}">
				</div>
			</div>
			<div class="form-group">
				<label>타입:</label>
				<input type="text" class="form-control" readonly th:field="*{gat_gatt_type}">
			</div>
			<div class="form-group">
				<label>등록시간:</label>
				<input type="datetime" class="form-control" readonly name="po_date"
					th:value="*{#dates.format(po_date, 'yyyy-MM-dd hh:mm:ss')}">
			</div>
			<div class="form-group">
				<label>시작기간:</label>
				<input type="date" class="form-control" readonly name="gat_startDate"
					th:value="*{#dates.format(gat_startDate, 'yyyy-MM-dd')}">
			</div>
			<div class="form-group">
				<label>종료기간:</label>
				<input type="date" class="form-control" readonly name="gat_endDate"
					th:value="*{#dates.format(gat_endDate, 'yyyy-MM-dd')}">
			</div>
			<div class="form-group">
				<label>주소:</label>
				<input type="text" class="form-control" readonly th:field="*{sido_name}">
				<input type="text" class="form-control" readonly th:field="*{sigg_name}">
				<input type="text" class="form-control" readonly th:field="*{emd_name}">
			</div>
			<div class="form-group">
				<button class="btn btn-outline-info" id="commentButton">댓글</button>
			</div>
			<div class="form-group commentList" id="commentList" style="display: none;">
				<div id="comment">
				</div>
				<div class="input-group mb-3">
				    <textarea class="form-control" placeholder="댓글 입력" id="input-comment"></textarea>
				    <div class="input-group-append">
						<span class="input-group-text btn-insert" id="btn_insert0">등록</span>
				    </div>
				</div>
			</div>
			<div class="form-group">
				<a class="btn btn-outline-info" th:href="@{/gatpost/list}">목록으로</a>
				<th:if test="${post.po_me_id eq user.me_id }">
				<a class="btn btn-outline-info" th:href="@{/gatpost/update/{po_num}(po_num=*{po_num})}">수정</a>
				<a class="btn btn-outline-info" th:href="@{/gatpost/delete/{po_num}(po_num=*{po_num})}">삭제</a>
				</th:if>
			</div>
		</div>
		<script type="text/javascript">
		
			let po_num = '[[${GATPost.po_num}]]';
			let me_num = '[[${Userlist.me_num}]]';
			$ (document).ready();
			
			function getCommentList() {
				$.ajax({
					async : true, 
					url : '/comment/list',
					method : "post",
					data : JSON.stringify(po_num), 
					contentType : "application/json; charset=utf-8",
					success : function (data){
						DisplayCommentList(data);
					}, 
					error : function(jqXHR, textStatus, errorThrown){
					}
				});
			}
			
			var num = 0;
			var num1 = 0;
			var num2 = 0;
			var str = '';
			var btn0 = '';
			var btn1 = '';
			var btns = '';
			btn0 = `
				<button class="btn btn-outline-primary" id="commentButton${num}">대댓글</button>
			`
			btn1 = `
				<button class="btn btn-outline-primary" id="commentButton${num}">대대댓글</button>
			`
			function DisplayCommentList(data){
				if(data == null || data.length == 0){
					$("#comment").html('<li class="comment-item">등록된 댓글이 없습니다.</li>');
					return;
				}
				for(comment of data){
					if(comment.me_num == me_num){
						btns = `
							<button class="btn btn-outline-info">수정</button>
							<button class="btn btn-outline-dark">삭제</button>
						`
					}
					if (comment.cm_layer == 0){
						num += 1;
						num1 = 0;
						console.log('num',num);
						console.log('num1',num1);
						console.log('num2',num2);
						str += `
							<div class="comment-item">
								<div>
									<div style="float: left; line-height: 40px;">${comment.me_id}</div>
									<div style="line-height: 40px;">(${comment.cm_date})</div>
									<div class="float-right">
										${btns}
										<button class="btn btn-outline-primary" id="commentButton${num}">대댓글</button>
									</div>
								</div>
								<div>
									<div style="padding-left:20px; line-height: 40px;">${comment.cm_content}</div>
								</div>
								<div class="input-group mb-3 commentListInput${num}" style="padding-left:20px; display: none;">
							    <textarea class="form-control input-comment1" placeholder="댓글 입력" id="input-comment1"></textarea>
							    <div class="input-group-append">
									<span class="input-group-text btn-insert" id="btn_insert1">등록</span>
								</div>
							</div>
						`;
					}
					if (comment.cm_layer == 1) {
						num1 += 1;
						num2 = 0;
						console.log('num',num);
						console.log('num1',num1);
						console.log('num2',num2);
						str += `
							<div class="comment-item commentList${num}${num1}" style="padding-left: 40px; display: none;" id="commentList0">
								<div>
									<div style="float: left; line-height: 40px;">${comment.me_id}</div>
									<div style="line-height: 40px;">(${comment.cm_date})</div>
									<div class="float-right">
										${btns}
										<button class="btn btn-outline-primary" id="commentButton${num}${num1}">대대댓글</button>
									</div>
								</div>
								<div>
									<div style="padding-left:20px; line-height: 40px;">${comment.cm_content}</div>
								</div>
								<div class="input-group mb-3 commentListInput${num}${num1}" style="padding-left:20px; display: none;">
								    <textarea class="form-control input-comment2" placeholder="댓글 입력" id="input-comment2"></textarea>
								    <div class="input-group-append">
										<span class="input-group-text btn-insert" id="btn_insert2">등록</span>
										</div>
								</div>
							</div>
						`;
					}
					if (comment.cm_layer == 2) {
						num2 += 1;
						console.log('num',num);
						console.log('num1',num1);
						console.log('num2',num2);
						str += `
							<div class="comment-item commentList${num}${num1}${num2}" style="padding-left: 80px; display: none;" id="commentList1">
								<div>
									<div style="float: left; line-height: 40px;">${comment.me_id}</div>
									<div style="line-height: 40px;">(${comment.cm_date})</div>
									<div class="float-right">
										${btns}
									</div>
								</div>
								<div>
									<div style="padding-left:20px; line-height: 40px;">${comment.cm_content}</div>
								</div>
							</div>
						`;
					}
					$("#comment").html(str);
				}
			}
			
			$("#btn_insert0").click(function name() {
				var cm_content = $('#input-comment').val();
				var cm_po_num = po_num;
				var cm_replay = cm_replay;
				var cm_ord = 0;
				var cm_layer = 0;
				var comment = {
						cm_content : cm_content,
						cm_po_num : cm_po_num,
						cm_ord : cm_ord,
						cm_layer : cm_layer
					}
				console.log(comment);
				$.ajax({
					async : true,
					url : '/comment/insert', 
					type : 'post', 
					data : JSON.stringify(comment), 
					contentType : "application/json; charset=utf-8",
					success : function (data){
						if(data){
							$('#input-comment').val('');
						}
					}, 
					error : function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR);
					}
				});
			})
			
			$(document).on('click', "#btn_insert1",  function() {
				var cm_content = $('.input-comment1').val();
				var cm_po_num = po_num;
				var cm_replay = cm_replay;
				var cm_ord = 1;
				var cm_layer = 1;
				var comment = {
						cm_content : cm_content,
						cm_po_num : cm_po_num,
						cm_ord : cm_ord,
						cm_layer : cm_layer
					}
				console.log(comment);
				$.ajax({
					async : true,
					url : '/comment/insert', 
					type : 'post', 
					data : JSON.stringify(comment), 
					contentType : "application/json; charset=utf-8",
					success : function (data){
						if(data){
							$('.input-comment1').val('');
						}
					}, 
					error : function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR);
					}
				});
			})
			
			$(document).on('click', "#btn_insert2",  function() {
				var cm_content = $('.input-comment2').val();
				var cm_po_num = po_num;
				var cm_replay = cm_replay;
				var cm_ord = 2;
				var cm_layer = 2;
				var comment = {
						cm_content : cm_content,
						cm_po_num : cm_po_num,
						cm_ord : cm_ord,
						cm_layer : cm_layer
					}
				console.log(comment);
				$.ajax({
					async : true,
					url : '/comment/insert', 
					type : 'post', 
					data : JSON.stringify(comment), 
					contentType : "application/json; charset=utf-8",
					success : function (data){
						if(data){
							$('.input-comment2').val('');
						}
					}, 
					error : function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR);
					}
				});
			})
			
			
			$(function(){
			    getCommentList();
			});
			
			$(".btn_insert").click(function() {
			    getCommentList();
			});
			
			$("#commentButton").click(function() {
				$(".commentList").toggle();
			})
			
			console.log(num);
			console.log(num1);
			console.log(num2);
			for (var i = 1; i <= num; i++) {
				$(document).on('click', "#commentButton(i)",  function() {
					$(".commentListInput(i)").toggle();
					if (num1 > 0) {
						for (var j = 1; j < num1; j++) {
							$(".commentList1(i)(j)").toggle();
						}
					}
				})
				if (num1 > 0) {
						for (var j = 1; j < num1; j++) {
							$(document).on('click', "#commentButton(i)(j)",  function() {
								for (var k = 0; k < num3; k++) {
									$(".commentListInput(i)(j)").toggle();
									$(".commentList1(i)(j)(k)").toggle();
								}
							})
						}
				}
						
			}
			
			$(document).on('click', "#commentButton1",  function() {
				$(".commentListInput1").toggle();
				$(".commentList11").toggle();
			})
			$(document).on('click', "#commentButton2",  function() {
				$(".commentListInput2").toggle();
				$(".commentList21").toggle();
				$(".commentList22").toggle();
			})
			$(document).on('click', "#commentButton21",  function() {
				$(".commentListInput21").toggle();
				$(".commentList211").toggle();
			})
			$(document).on('click', "#commentButton22",  function() {
				$(".commentListInput22").toggle();
				$(".commentList221").toggle();
			})
			
		</script>
	</main>
</body>
</html>