<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<form method="post" th:action="@{/gatpost/insert}">
			<input type="hidden"/>
			<div class="form-group">
				<label>번호 임시:</label>
				<input type="text" class="form-control" name="po_num" >
			</div>
			<div class="form-group">
				<label>타입:</label>
				<input type="text" class="form-control" name="gat_gatt_type" >
			</div>
			<div class="form-group">
				<label>시작기간:</label>
				<input type="date" class="form-control" name="gat_startDate" >
			</div>
			<div class="form-group">
				<label>종료기간:</label>
				<input type="date" class="form-control" name="gat_endDate" >
			</div>
			<div class="form-group">
				<label>품앗이:</label>
				<input type="text" class="form-control" name="gat_gat" >
			</div>
			<div class="form-group">
				<label>상태:</label>
				<input type="text" class="form-control" name="gat_gats_state" >
			</div>
			<div class="form-group">
				<label>주소:</label>
				<a class="btn btn-outline-info" th:href="@{/address/insert}">
					<input type="text" class="form-control" name="gat_emd_num" >
				</a>
			</div>
			<button class="btn btn-outline-info col-12">등록</button>
		</form>
		<a class="btn btn-outline-info" th:href="@{/gatpost/list}">목록으로</a>
	</main>
</body>
</html>