<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout2.html}">
<head>
 <meta charset="UTF-8">
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/project.css">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
	<div class="CommunityContainer"> 
			<h1 class="categoryTitle">품앗이</h1>
			<table id="dataTable">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>타입</th>
						<th>상태</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${list}">
						<td th:text="${item.po_num}"></td>
						<td>
							<a th:text="${item.po_title}" th:href="@{/gatpost/detail/{po_num}(po_num=${item.po_num})}"></a>
						</td>
						<td th:text="${item.me_id}"></td>
						<td th:text="${item.gat_gatt_type}"></td>
						<td th:text="${item.gat_gats_state}"></td>
						<td th:text="${item.po_viewCount}"></td>
					</tr>
				
				</tbody>
			 </table>
			 <div class="insertBtnContainer">
	        		<a class="insertbtn" th:href="@{/gatpost/insert}">글쓰기</a>
	        </div>
		</div>
		       
		<script type="text/javascript">
            $(document).ready(function() {
            	
                $('#dataTable').DataTable({
                    "language": {
                        "search": "검색: ",
                        "lengthMenu": "_MENU_ 개씩 보기",
                        "zeroRecords": "등록된 글이 없습니다.",  // 빈 데이터 메시지
                        "infoEmpty": "데이터가 없습니다.",
                        "infoFiltered": "(전체 _MAX_개의 데이터에서 필터링됨)",
                        "paginate": {
                            "first": "처음",
                            "last": "마지막",
                            "next": "다음",
                            "previous": "이전"
                        }
                    },
                    "info": false, // 테이블 정보 표시를 제거
                    "lengthMenu": false,
                    "lengthChange" : false,
                    "dom": '<"top"f>t<"bottom"p>' // 'lengthMenu' 부분을 제거하고 테이블과 페이징만 표시
                });
                // 검색 텍스트만 숨기기
                $('.dataTables_filter label').contents().filter(function() {
                    return this.nodeType === 3; // 텍스트 노드만 선택
                }).remove();
            });
        </script>
	</main>
</body>
</html>