<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>타입</th>
					<th>상태</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${list}">
					<td th:text="${item.po_num}"></td>
					<td>
						<a th:text="${item.po_title}" th:href="@{/gatpost/detail/{po_num}(po_num=${item.po_num})}"></a>
					</td>
					<td th:text="${item.gat_gatt_type}"></td>
					<td th:text="${item.gat_gats_state}"></td>
					<td th:text="${item.po_viewCount}"></td>
				</tr>
				<tr th:if="${list.size() == 0}">
					<td colspan="6" class="text-center">등록된 게시글이 없습니다</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-outline-dark" th:href="@{/gatpost/insert}">등록</a>
	</main>
</body>
</html>